subject = "Новый заказ на Точке топлива"
==
<h3>Спасибо за заказ!</h3>

<p>Вы заказали топливо с доставкой на сайте «Точка Топлива».</p>

<p>Номер вашего заказа №{{ order.id }}</p>

<p>В ближайшее время мы свяжемся с вами, чтобы договориться с вами и подробностях заправки.</p>

<p>Если вы хотите отменить заказ, позвоните по номеру {{ phone }}, и сообщите номер заказа.</p>


<p>С уважением,<br>
    Точка Топлива.</p>
