subject = "Сообщение от Точки топлива"
==

Сообщение с формы обратоной связи

Имя: {{ name ?: '' }}
Телефон: {{ phone ?: '' }}
Email: {{ email ?: '' }}
Сообщение: {{ text ?: '' }}

==

<h3>Сообщение с формы обратоной связи</h3>

<p>Имя: <strong>{{ name ?: '' }}</strong></p>
<p>Телефон: <strong>{{ phone ?: '' }}</strong></p>
<p>Email: <strong>{{ email ?: '' }}</strong></p>
<p>Сообщение: <strong>{{ text ?: '' }}</strong></p>