subject = "Заказ на Точке топлива"
==
<h3>Новый заказ</h3>

<p>Имя: <strong>{{ order.buyer.name ?: '' }}</strong></p>
<p>Телефон: <strong>{{ order.buyer.phone ?: '' }}</strong></p>
<p>Email: <strong>{{ order.buyer.email ?: '' }}</strong></p>
<p>Детали заказа: </p>
<p>Адрес: {{ order.address ?: '' }}</p>
<p>Дата и время: {{ order.delivery_date ?: '' }}</p>

<table border="1">
    <thead>
        <tr>
            <th>Товар</th>
            <th>Стоимость ед.</th>
            <th>Литры</th>
            <th>Номер устройства</th>
            <th>Название бренда</th>
        </tr>
    </thead>
    <tbody>
        {% for item in order.products %}
            <tr>
                <td>{{ item.title ?? '' }}</td>
                <td>{{ item.pivot.price_item ?? '' }}</td>
                <td>{{ item.pivot.volume ?? '' }}</td>
                <td>{{ item.pivot.device_number ?? '' }}</td>
                <td>{{ item.pivot.device_brand ?? '' }}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
