<div class="control-list p-t-md">
    <table class="table data">
        <thead>
        <tr>
            <th><span>Название</span></th>
            <th><span>Танспорт</span></th>
            <th><span>Номер</span></th>
            <th><span>Бренд</span></th>
            <th><span>Стоимость ед. руб.</span></th>
            <th><span>Литры</span></th>
            <th><span>Общая стоимость руб.</span></th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($model->products as $product): ?>
        <tr>
            <td>
                <?= $product->title ?>
            </td>
            <td>
                <?= $model->getDevice($product->pivot->device_id)->title ?>
            </td>
            <td>
                <?= $product->pivot->device_number ?: 'Не указан' ?>
            </td>
            <td>
                <?= $product->pivot->device_brand ?: 'Не указан' ?>
            </td>
            <td>
                <?= $product->price_item ?>
            </td>
            <td>
                <?= $product->pivot->volume ?>
            </td>
            <td>
                <?= round($product->pivot->volume * $product->price_item, 2) ?>
            </td>
        </tr>
        <?php endforeach ?>
        <?php if ($model->volume < 20): ?>
        <tr>
            <td>Доставка</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>200</td>
        </tr>
        <?php endif ?>
        <tr>
            <td><b>Итого:</b></td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td>--</td>
            <td><b><?= $model->volume ?></b></td>
            <td><b><?= $model->price ?></b></td>
        </tr>
        </tbody>
    </table>
</div>