<div class="popup js-popup" id="popup-feedback">
    <div class="popup__window">

        <div class="popup__header">
            <div class="popup__header-icon">
                <svg width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.3739 8.03706C20.9496 9.22768 21.5641 10.5387 22.7519 10.9726L23.3085 11.1764C25.7914 11.9072 24.3973 15.0047 23.6585 16.3406C23.4485 16.7202 23.1703 17.1977 22.9567 17.5519C22.1767 18.8426 20.1617 21.6468 18.2817 19.8394L17.8296 19.4565C16.8639 18.6412 15.4198 18.7567 14.5974 19.7173L14.0154 20.3958C14.0154 20.3958 12.3606 22.302 12.2174 23.4949C12.0984 24.4761 13.9645 25.367 14.4763 25.6036C15.8437 26.3379 17.352 26.3142 18.3062 26.188C22.4435 25.6412 25.3394 21.3166 26.3283 19.6162C26.5739 19.1937 26.882 18.6684 27.1476 18.2036C28.1535 16.4498 30.3934 11.8592 28.8352 8.04511C28.4716 7.15439 27.7434 5.83204 26.4283 5.00885C25.9687 4.68218 24.2699 3.50459 23.4768 4.09392C22.5083 4.81211 21.674 7.19402 21.674 7.19402L21.3739 8.03706Z" stroke="white" stroke-width="2"/>
                    <path d="M4.66895 16.5502C2.85407 9.77693 6.87361 2.81488 13.6468 0.999995" stroke="white" stroke-width="2"/>
                    <path d="M10.1722 14.8367C9.25543 11.4151 11.2859 7.89814 14.7075 6.98133" stroke="white" stroke-width="2"/>
                </svg>
            </div>
            <div class="popup__header-title h2">заказать звонок</div>
            <button class="popup__header-button-close js-popup-button-close" type="button">
          <span class="popup__header-button-close-inner">
            <svg width="22" height="22" viewBox="0 0 22 22">
              <path class="popup__header-button-close-icon" opacity="0.2" d="M21 1L1 21M1 1L21 21" stroke-width="2"/>
            </svg>
          </span>
            </button>
        </div>

        <div class="popup__window-inner">
            <div class="feedback" id="feedback">
                <div class="feedback__title h2">остались вопросы?</div>
                <div class="feedback__text small">Оставьте нам ваши контактные данные и&nbsp;мы вам перезвоним.</div>
                {{ form_ajax('onCallMe', { class: 'feedback__form', method: 'POST', 'data-request-success' : "onSuccessContact(data)" }) }}
                <div class="feedback__form-fields">
                    <div class="feedback__form-field">
                        <label class="field" :class="{'is-error': isSubmitted && !name}">
                            <span class="field__label">Имя и отчество*</span>
                            <input class="field__input" v-model="name" name="name" type="text" placeholder="Иван Иванович" required>
                        </label>
                    </div>
                    <div class="feedback__form-field">
                        <label class="field" :class="{'is-error': isSubmitted && !phone}">
                            <!-- TODO: Добавить маску! -->
                            <span class="field__label">Телефон*</span>
                            <input class="field__input" v-model="phone" name="phone" v-mask="'+7 (###) ###-##-##'" type="text" placeholder="+7 (     ) ___ - __ - __" required>
                        </label>
                    </div>
                    <div class="feedback__form-field">
                        <label class="field" :class="{'is-error': isSubmitted && !email}">
                            <span class="field__label">Email*</span>
                            <input class="field__input" v-model="email" name="email" type="email" placeholder="example@example.ru" required>
                        </label>
                    </div>
                    <div class="feedback__form-field feedback__form-field--big">
                        <label class="field">
                            <span class="field__label">Комментарий</span>
                            <input class="field__input" type="text" name="message" placeholder="Комментарий...">
                        </label>
                    </div>
                </div>
                <div class="feedback__form-bottom">
                    <div class="feedback__form-bottom-text">Нажимая кнопку «Заказать и оплатить», я&nbsp;даю согласие на <a href="{{ this.theme.privacy|media }}" target="_blank">обработку
                            персональных данных</a>.</div>
                    <button class="button button--invert" type="submit"><div class="button__inner">отправить</div></button>
                </div>
                {{ form_close() }}

                <script>
                    function onSuccessContact(data) {
                        // data.message строка сообщения
                        // data.errors объект ошибок name => message
                        window.popup.openPopup('popup-feedback-success')
                    }
                </script>
            </div>
        </div>
    </div>
</div>

<div class="popup js-popup" id="popup-feedback-success">
    <div class="popup__window">

        <div class="popup__header">
            <div class="popup__header-icon">
                <svg width="35" height="31" viewBox="0 0 35 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M21.3739 8.03706C20.9496 9.22768 21.5641 10.5387 22.7519 10.9726L23.3085 11.1764C25.7914 11.9072 24.3973 15.0047 23.6585 16.3406C23.4485 16.7202 23.1703 17.1977 22.9567 17.5519C22.1767 18.8426 20.1617 21.6468 18.2817 19.8394L17.8296 19.4565C16.8639 18.6412 15.4198 18.7567 14.5974 19.7173L14.0154 20.3958C14.0154 20.3958 12.3606 22.302 12.2174 23.4949C12.0984 24.4761 13.9645 25.367 14.4763 25.6036C15.8437 26.3379 17.352 26.3142 18.3062 26.188C22.4435 25.6412 25.3394 21.3166 26.3283 19.6162C26.5739 19.1937 26.882 18.6684 27.1476 18.2036C28.1535 16.4498 30.3934 11.8592 28.8352 8.04511C28.4716 7.15439 27.7434 5.83204 26.4283 5.00885C25.9687 4.68218 24.2699 3.50459 23.4768 4.09392C22.5083 4.81211 21.674 7.19402 21.674 7.19402L21.3739 8.03706Z" stroke="white" stroke-width="2"/>
                    <path d="M4.66895 16.5502C2.85407 9.77693 6.87361 2.81488 13.6468 0.999995" stroke="white" stroke-width="2"/>
                    <path d="M10.1722 14.8367C9.25543 11.4151 11.2859 7.89814 14.7075 6.98133" stroke="white" stroke-width="2"/>
                </svg>
            </div>
            <div class="popup__header-title h2">заказать звонок</div>
            <button class="popup__header-button-close js-popup-button-close" type="button">
          <span class="popup__header-button-close-inner">
            <svg width="22" height="22" viewBox="0 0 22 22">
              <path class="popup__header-button-close-icon" opacity="0.2" d="M21 1L1 21M1 1L21 21" stroke-width="2"/>
            </svg>
          </span>
            </button>
        </div>

        <div class="popup__window-inner">
            <div class="">
                <div class="message__success">
                    <h2>спасибо за запрос, мы скоро позвоним</h2>
                    <p>Если вы уже сделали выбор, то можете оформить заказ, кликнув по кнопке «Заказать» ниже.</p>
                    <div class="message__buttons">
                        <button class="button-blue" type="button" onclick="window.popup.openPopup('popup-order')">заказать</button>
                        <button class="button button--small button--invert js-popup-button-close" type="button">
                    <span class="button__inner">
                      Закрыть
                    </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>