<div class="page__footer">
  <!--  FOOTER  -->
  <footer class="footer">

    <div class="footer__button-up">
      <button class="button-up" id="button-up" type="button"></button>
    </div>

    <div class="container container--small">
      <div class="footer__top">
        <div class="footer__logo">
          <a class="footer__logo-link" href="">
            <img src="{{ 'assets/img/logo-blue.svg'|theme }}" alt="Точка Топлива" class="footer__logo-img">
          </a>
        </div>
        <nav class="footer__nav">
          <a href="{{ 'payment'|page }}" class="footer__nav-link">Оплата</a>
          <a href="{{ 'delivery'|page }}" class="footer__nav-link">Доставка</a>
          <a href="{{ 'return'|page }}" class="footer__nav-link">Возврат</a>
          <a href="/#contacts" class="footer__nav-link">Контакты</a>
        </nav>
        <div class="footer__socials">
          <div class="socials">
            <a class="socials__link" href="{{ this.theme.c_fb ?? '' }}" target="_blank" rel="noopener">
            <span class="socials__link-inner">
              <svg class="socials__link-icon" width="21" height="21" viewBox="0 0 21 21">
                <path d="M10.9665 20.842V12.846H8.25709V9.61304H10.9665V6.96857C10.9665 4.83288 12.6977 3.10177 14.8333 3.10177H17.6519V6.07236H15.4721C14.8885 6.07236 14.4141 6.54192 14.4091 7.1255L14.3859 9.60079L17.4876 9.61182L17.1578 12.8435L14.4619 12.857V20.842H19.5743C20.3221 20.842 20.929 20.2351 20.929 19.4872V1.35473C20.929 0.606869 20.3221 0 19.5743 0H1.35473C0.606869 0 0 0.606869 0 1.35473V19.4872C0 20.2351 0.606869 20.842 1.35473 20.842H10.9665Z" />
              </svg>
            </span>
            </a>
            <a class="socials__link" href="{{ this.theme.c_vk ?? '' }}" target="_blank" rel="noopener">
            <span class="socials__link-inner">
              <svg class="socials__link-icon" width="27" height="15" viewBox="0 0 27 15">
                <path d="M0.586076 0.701539H4.73288C5.2559 0.701539 5.72756 1.00962 5.93303 1.48385C5.93303 1.48385 6.47123 2.90308 7.35849 4.43769C8.24576 5.97231 9.26612 7.08346 9.26612 7.08346C9.65605 7.58654 10.4698 7.33038 10.4931 6.69577L10.59 3.96577V2.61692C10.59 1.81038 9.96076 1.14 9.14705 1.07885L8.78746 1.05231C8.78746 0.470769 9.91406 0 10.5025 0H14.4111C15.1501 0 15.749 0.591923 15.749 1.32231V6.70962C15.749 7.35923 16.5861 7.635 16.9807 7.11462C16.9807 7.11462 17.9333 6.07846 18.7517 4.72962C19.5701 3.38077 20.3138 1.33038 20.3138 1.33038C20.5099 0.898846 20.9442 0.620769 21.4229 0.620769H26.1604C26.7967 0.620769 27.1936 1.30269 26.8737 1.84731C26.8737 1.84731 26.1627 3.06692 25.5008 4.15038C24.8388 5.23385 22.7386 7.78154 22.7386 7.78154C22.3265 8.31692 22.4175 9.07962 22.9441 9.50538L24.2411 10.7619C24.2411 10.7619 26.785 13.2704 26.7056 13.1931C27.3535 13.8796 26.862 15 25.9117 15H21.4182C20.5846 15 19.8036 14.5985 19.3249 13.9235L17.5037 11.8696C16.8359 11.2546 15.7478 12.135 15.7478 13.0373V14.1773C15.7478 14.6319 15.3754 15 14.9154 15H12.9961C10.9531 15 8.99528 14.2788 7.46124 12.9958C3.27357 9.41654 0.0677252 1.55077 0.0677252 1.55077C-0.13658 1.16423 0.145945 0.701539 0.586076 0.701539Z"/>
              </svg>
            </span>
            </a>
            <a class="socials__link" href="{{ this.theme.c_in ?? '' }}" target="_blank" rel="noopener">
            <span class="socials__link-inner">
              <svg class="socials__link-icon" width="21" height="21" viewBox="0 0 21 21">
                <path d="M15.4869 0H5.51188C2.46688 0 0 2.46812 0 5.51312V15.4881C0 18.5331 2.46812 21 5.51188 21H15.4869C18.5319 21 21 18.5319 21 15.4881V5.51312C20.9988 2.46812 18.5306 0 15.4869 0ZM10.4988 16.3701C7.26229 16.3701 4.62865 13.7365 4.62865 10.5C4.62865 7.26353 7.26229 4.62988 10.4988 4.62988C13.7352 4.62988 16.3689 7.26353 16.3689 10.5C16.3689 13.7365 13.7352 16.3701 10.4988 16.3701ZM16.6678 5.51312C15.9674 5.51312 15.3992 4.94488 15.3992 4.24447C15.3992 3.54406 15.9674 2.97582 16.6678 2.97582C17.3682 2.97582 17.9365 3.54406 17.9365 4.24447C17.9365 4.94488 17.3682 5.51312 16.6678 5.51312Z"/>
                <path d="M10.4987 14.5168C12.7174 14.5168 14.5159 12.7182 14.5159 10.4996C14.5159 8.28097 12.7174 6.48242 10.4987 6.48242C8.28012 6.48242 6.48157 8.28097 6.48157 10.4996C6.48157 12.7182 8.28012 14.5168 10.4987 14.5168Z"/>
              </svg>
            </span>
            </a>
          </div>
        </div>
      </div>
      <div class="footer__bottom">
        <div class="footer__cart-logos">
          <div class="footer__cart-logos-list">
            <img class="footer__cart-logos-img" src="{{ 'assets/img/footer/cart-logos/icon_kassa.jpg'|theme }}" srcset="{{ 'assets/img/footer/cart-logos/icon_kassa@2x.png 2x'|theme}}" alt="">
            <img class="footer__cart-logos-img" src="{{ 'assets/img/footer/cart-logos/icon_master.jpg'|theme }}" srcset="{{ 'assets/img/footer/cart-logos/icon_master@2x.png 2x'|theme}}" alt="">
            <img class="footer__cart-logos-img" src="{{ 'assets/img/footer/cart-logos/icon_mir.jpg'|theme }}" srcset="{{ 'assets/img/footer/cart-logos/icon_mir@2x.png 2x'|theme}}" alt="">
            <img class="footer__cart-logos-img" src="{{ 'assets/img/footer/cart-logos/icon_visa.jpg'|theme }}" srcset="{{ 'assets/img/footer/cart-logos/icon_visa@2x.png 2x'|theme}}" alt="">
          </div>
        </div>
        <div class="footer__text">
          <div>© «Точка Топлива»</div>
          <p>Информация, размещённая на&nbsp;интернет-сайте tochkatopliva.ru, носит исключительно ознакомительный характер и&nbsp;ни&nbsp;при каких обстоятельств не&nbsp;является публичной офертой в&nbsp;понятии&nbsp;ст.&nbsp;435&nbsp;ГК РФ</p>
          <a href="{{ this.theme.terms|media }}" target="_blank" rel="noopener">Пользовательское соглашение</a>
          <a href="{{ this.theme.privacy|media }}" target="_blank" rel="noopener">Политика конфиденциальности</a>
        </div>

        <div class="footer__buttons">
          <button class="button-action js-popup-open" data-popup="popup-order" type="button">
              <span class="button-action__inner">
                <span class="button-action__label">купить топливо</span>
                <span class="button-action__icon">
                  <img src="{{ 'assets/img/icons/buy.svg'| theme }}" alt="">
                </span>
              </span>
          </button>
          <button class="button-action js-popup-open" data-popup="popup-feedback" type="button">
              <span class="button-action__inner">
                <span class="button-action__label">заказать звонок</span>
                <span class="button-action__icon">
                  <img src="{{ 'assets/img/icons/call.svg' | theme }}" alt="">
                </span>
              </span>
          </button>
        </div>

        <a class="footer__nuts-link" target="_blank" href="https://nuts-agency.ru/">
          <img src="{{ 'assets/img/footer/nuts.svg'|theme}}" alt="">
        </a>
      </div>
    </div>
  </footer>
</div>

<div class="page__popups">

  {% partial '_feedback' %}
  {% partial '_order' %}

</div>

<!-- Yandex.Metrika counter -->

<script type="text/javascript">

  (function (m, e, t, r, i, k, a) {
    m[i] = m[i] || function () {
      (m[i].a = m[i].a || []).push(arguments)
    };

    m[i].l = 1 * new Date();
    k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
  })

  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(68074357, "init", {

    clickmap: true,

    trackLinks: true,

    accurateTrackBounce: true,

    webvisor: true

  });

</script>

<noscript>
  <div><img src="https://mc.yandex.ru/watch/68074357" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>

<!-- /Yandex.Metrika counter -->