<div class="page__header">
    <!--  HEADER  -->
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <div class="header__logo">
                    <a href="/" class="header__logo-link">
                        <img src="{{ 'assets/img/logo.svg'|theme}}" alt="Точка топлива" class="header__logo-img">
                    </a>
                </div>
                <nav class="header__nav">
                    <a href="#" class="header__nav-link">о сервисе</a>
                    <a href="#" class="header__nav-link">как это работает</a>
                    <a href="#" class="header__nav-link">что заправляем</a>
                    <a href="#" class="header__nav-link">топливо</a>
                    <a href="#" class="header__nav-link">faq</a>
                    <a href="#" class="header__nav-link">контакты</a>
                    <a href="#" class="header__nav-link">о точке топлива</a>
                    <a href="tel:{{ this.theme.c_phone }}" class="header__nav-link header__nav-link--underline">{{ this.theme.c_phone }}</a>
                </nav>

                <div class="header__buttons">

                    <!--    Класс button-action--small только на глвной странице      -->
                    <button class="button-action button-action--small js-popup-open" data-popup="popup-order" type="button">
            <span class="button-action__inner">
              <span class="button-action__label">купить топливо</span>
              <span class="button-action__icon">
                <img src="{{ 'assets/img/icons/buy.svg'|theme}}" alt="">
              </span>
            </span>
                    </button>

                    <!--    Класс button-action--small только на глвной странице      -->
                    <button class="button-action button-action--small js-popup-open" data-popup="popup-feedback" type="button">
            <span class="button-action__inner">
              <span class="button-action__label">заказать звонок</span>
              <span class="button-action__icon">
                <img src="{{ 'assets/img/icons/call.svg'|theme}}" alt="">
              </span>
            </span>
                    </button>

                </div>
            </div>
        </div>
    </header>
</div>