
<div class="popup js-popup" id="popup-order">
  <div class="popup__window">

    <div class="popup__header">
      <div class="popup__header-icon">
        <svg width="26" height="25" viewBox="0 0 26 25" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L1.2499 1.0952C2.74242 1.66378 3.8735 2.91117 4.29374 4.45205L4.375 4.75M21.625 17.875H10.2792C8.37249 17.875 6.73083 16.5292 6.35689 14.6595L5.95 12.625M4.375 4.75H24.25L21.625 12.625H5.95M4.375 4.75L5.95 12.625" stroke="white" stroke-width="2"/>
          <circle cx="19" cy="22" r="2.25" fill="white"/>
          <circle cx="9.25" cy="22" r="2.25" fill="white"/>
          <path d="M10.75 4.75L11.5 12.625" stroke="white" stroke-width="2"/>
          <path d="M17.5 4.75L16.75 12.625" stroke="white" stroke-width="2"/>
          <path d="M5.5 8.5L22.75 8.5" stroke="white" stroke-width="2"/>
        </svg>
      </div>
      <div class="popup__header-title h2">
        <div class="order-header">
          <div class="order-header__steps">
            <div v-for="n in countStep" class="order-header__step" :class="{'is-active': n === currentStep}">(( n ))</div>
          </div>
          <div>доставка и оплата</div>
        </div>
      </div>
      <button class="popup__header-button-close js-popup-button-close" type="button">
          <span class="popup__header-button-close-inner">
            <svg width="22" height="22" viewBox="0 0 22 22">
              <path class="popup__header-button-close-icon" opacity="0.2" d="M21 1L1 21M1 1L21 21" stroke-width="2"/>
            </svg>
          </span>
      </button>
    </div>

    <div class="popup__window-inner">
      <div class="order">

        {% for device in devices %}
        <input class="js-order-technic" type="hidden" value="{{ device.id }}" data-title="{{ device.title }}">
        {% endfor %}

        {% for product in products if product.is_active == true %}
        <input class="js-order-fuel" type="hidden" value="{{ product.id }}" data-title="{{ product.title }}" data-price="{{ product.price_item }}">
        {% endfor %}

        <template v-if="step === 'card'">

          <div class="order__item-edit" v-if="selectedItem || selectedItem === 0">
            <div>

              <div class="order__select">
                <div class="order__select-title">Что заправляем?</div>
                <div class="order__select-list">
                  <button
                      v-for="(technic) in technics"
                      class="button-third"
                      :class="{'is-active': items[selectedItem].technic === technic.value}"
                      @click="items[selectedItem].technic = technic.value"
                      type="button"
                  >
                      <span class="button-third__inner">
                        (( technic.title ))
                      </span>
                  </button>
                </div>
              </div>

              <div class="order__select">
                <div class="order__select-title">Вид топлива</div>
                <div class="order__select-list">
                  <button
                      v-for="fuel in fuels"
                      class="button-third"
                      :class="{'is-active': items[selectedItem].fuel === fuel.value}"
                      @click="items[selectedItem].fuel = fuel.value"
                      type="button"
                  >
                      <span class="button-third__inner">
                        (( fuel.title ))
                        <span class="button-third__label">(( fuel.price )) ₽/л</span>
                      </span>
                  </button>
                </div>
              </div>

            </div>

            <div>
              <div class="order__select">
                <div class="order__select-title">объём</div>
                <div class="order__select-count">
                  <button class="button-third button-third--center" type="button" @click="items[selectedItem].volume > 1 ? items[selectedItem].volume-- : items[selectedItem].volume = 1">-</button>
                  <label class="field-second">
                    <input class="field-second__input" type="text" v-model.number="items[selectedItem].volume" placeholder="4 л">
                    <span class="field-second__preview" v-if="items[selectedItem].volume"><span>(( items[selectedItem].volume ))</span> л</span>
                  </label>
                  <button class="button-third button-third--center" type="button" @click="items[selectedItem].volume++">+</button>
                </div>
              </div>

              <div class="order__select">
                <div class="order__select-title">помогите нам быстрее найти вашу технику</div>
                <div class="order__select-car">
                  <label class="field-second">
                    <span class="field-second__label">Госномер</span>
                    <input class="field-second__input" type="text" v-model="items[selectedItem].car.number" placeholder="А 456 БВ 123">
                  </label>
                  <label class="field-second">
                    <span class="field-second__label">Марка</span>
                    <input class="field-second__input" type="text" v-model="items[selectedItem].car.mark" placeholder="Toyota Camry">
                  </label>
                </div>
                <div class="order__select-description">Эти данные не передаются третьим лицам.</div>
              </div>

              <div class="order__select">
                <div class="order__select-disclaimer">При заказе менее 20 литров требуется оплатить доставку. Стоимость доставки 200 ₽.</div>
                <div class="order__select-disclaimer">Пожалуйста, не заказывайте больше, чем можете принять, или подготовьте канистры.</div>
              </div>

              <div class="order__item-edit-result">
                <div>
                  <div>Итого</div>
                  <div class="h2">(( items[selectedItem].volume * getFuelPrice(items[selectedItem].fuel) )) ₽</div>
                </div>
                <button class="button button--small button--invert" @click="saveItem()">
                  <span class="button__inner">готово</span>
                </button>
              </div>
            </div>

          </div>

          <div class="order__cart" v-if="selectedItem === null">
            <div class="order__cart-list">

              <div class="order__cart-item" v-for="(item, index) in items">
                <div class="order__cart-item-card">
                  <div class="order__cart-item-card-name">(( item.car.mark ? item.car.mark : getTechnicTitle(item.technic) ))(( item.car.mark && item.car.number ? ' ' + item.car.number : '' ))</div>
                  <div class="order__cart-item-card-detail">
                    (( getFuelTitle(item.fuel) ))<span>•</span>(( item.volume ))л<span>•</span>(( item.volume * getFuelPrice(item.fuel) )) ₽
                  </div>
                </div>
                <button class="order__cart-item-button-edit" type="button" @click="editItem(index)">
                  <span>
                    <svg width="21" height="20" viewBox="0 0 21 20">
                      <path d="M0 18.3743C0.0497275 18.1079 0.0952332 17.8406 0.149925 17.5752C0.418292 16.273 0.670536 14.9671 0.967162 13.6713C1.10854 13.0538 1.42082 12.5005 1.86234 12.0362C3.2738 10.5517 4.68512 9.06704 6.1057 7.59132C7.40138 6.24536 8.71126 4.91314 10.0094 3.5695C10.2472 3.32334 10.488 3.21337 10.8256 3.55183C12.1747 4.90459 13.5331 6.24812 14.884 7.5991C15.1289 7.84398 15.1217 8.12169 14.8824 8.37268C13.4689 9.85525 12.0593 11.3415 10.6385 12.817C9.32299 14.1831 7.99289 15.535 6.67415 16.898C6.27856 17.3069 5.79807 17.579 5.27396 17.7654C4.94078 17.8839 4.58316 17.9362 4.23437 18.0078C3.1979 18.2205 2.16092 18.4307 1.12288 18.6356C0.853429 18.6888 0.579567 18.7201 0.307381 18.759C0.162611 18.7797 0.048985 18.7388 0 18.5862C0 18.5156 0 18.4449 0 18.3743Z" />
                      <path d="M14.178 0C14.2546 0.00941937 14.3311 0.0192843 14.4077 0.0282157C14.8282 0.0772219 15.1995 0.244182 15.5032 0.534104C16.1184 1.12141 16.7253 1.71759 17.3285 2.31731C17.5484 2.53593 17.7615 2.76431 17.9538 3.00713C18.3548 3.51355 18.4696 4.09439 18.3381 4.72263C18.3188 4.81474 18.2727 4.91451 18.2086 4.98183C17.7854 5.42656 17.3541 5.8636 16.925 6.3027C16.7309 6.50132 16.4576 6.51479 16.236 6.29159C14.923 4.9688 13.6034 3.65251 12.2873 2.33274C12.1953 2.24047 12.1105 2.14036 12.0279 2.0394C11.9109 1.89635 11.8969 1.7673 11.997 1.61269C12.0712 1.49796 12.1573 1.38772 12.2538 1.29111C12.5979 0.946541 12.9486 0.608504 13.2971 0.268261C13.4632 0.106095 13.6589 0.0138533 13.8947 0.0155292C13.9184 0.015699 13.9423 0.00543099 13.966 0C14.0367 0 14.1074 0 14.178 0Z" />
                      <path d="M13.9826 18.6491C13.9322 17.9366 14.6063 17.2752 15.3075 17.2813C15.9876 17.2872 16.6753 17.846 16.6853 18.6231C16.6941 19.3003 16.1163 20.0198 15.3097 19.9999C14.5704 19.9816 13.983 19.3978 13.9826 18.6491Z"/>
                      <path d="M11.267 19.9792C10.484 19.987 9.88071 19.4219 9.87456 18.6748C9.86832 17.9193 10.4686 17.2976 11.2106 17.2911C11.9727 17.2844 12.5754 17.8827 12.5857 18.645C12.5952 19.3429 11.9896 20.0336 11.267 19.9792Z"/>
                      <path d="M20.7688 18.6523C20.8138 19.4029 20.1488 20.0011 19.4214 19.998C18.667 19.9948 18.0636 19.3828 18.0684 18.6302C18.0731 17.8947 18.681 17.2862 19.412 17.2842C20.1245 17.2822 20.8254 17.9043 20.7688 18.6523Z"/>
                    </svg>
                  </span>
                </button>
                <button class="order__cart-item-button-remove" type="button" @click="removeItemFromCard(index)">
                  <span>
                    <svg width="20" height="26" viewBox="0 0 20 26">
                      <path d="M6.124 4.69685e-05C8.04232 4.69685e-05 11.9607 4.69685e-05 13.879 4.69685e-05C13.8947 0.00691525 13.9098 0.0174602 13.9263 0.0201411C15.0313 0.199712 15.7384 0.989691 15.7433 2.052C15.7445 2.31558 15.7513 3.13139 15.7402 3.39453C15.7347 3.52432 15.7739 3.55705 15.9107 3.55664C17.5511 3.55187 18.1914 3.55355 19.8317 3.55355C19.888 3.55355 19.9443 3.55355 20 3.55355C20 3.89681 20 4.221 20 4.55637C19.6542 4.55637 19.3196 4.55637 18.9771 4.55637C18.97 4.673 18.9629 4.77876 18.9572 4.88457C18.9178 5.61467 18.8792 6.34483 18.8393 7.07493C18.7714 8.31863 18.7023 9.56225 18.6345 10.8059C18.5769 11.8629 18.5209 12.9199 18.4634 13.9768C18.395 15.2333 18.3257 16.4897 18.257 17.7461C18.2083 18.6375 18.1602 19.5289 18.1115 20.4203C18.0535 21.4814 17.983 22.5421 17.9404 23.6039C17.8973 24.6793 16.9884 25.5479 15.8503 25.5491C11.9736 25.5533 8.09681 25.5524 4.22005 25.5495C3.26083 25.5488 2.42707 24.932 2.1998 24.0457C2.13497 23.7929 2.13007 23.5245 2.11451 23.2624C2.04235 22.0487 1.97553 20.8348 1.90798 19.6208C1.85013 18.581 1.79464 17.5409 1.73668 16.501C1.66926 15.2914 1.59954 14.0818 1.53218 12.8722C1.47405 11.828 1.41846 10.7838 1.36068 9.73962C1.28269 8.33045 1.20389 6.9213 1.12498 5.51218C1.10723 5.19538 1.0875 4.8787 1.06793 4.5492C0.702834 4.5492 0.350986 4.5492 0 4.5492C0 4.21084 0 3.88624 0 3.55355C0.0692711 3.55355 0.127073 3.55355 0.184903 3.55355C1.82525 3.55355 2.46558 3.55225 4.10593 3.55615C4.23023 3.55646 4.26514 3.52409 4.26234 3.40715C4.25486 3.09274 4.24719 2.22537 4.26517 1.91167C4.30884 1.14945 4.69383 0.580174 5.40493 0.228181C5.6262 0.118646 5.88331 0.0742703 6.124 4.69685e-05ZM10.5217 22.543C10.5217 17.2052 10.5217 11.8843 10.5217 6.5498C10.3442 6.5498 10.1751 6.5498 10.006 6.5498C9.83303 6.5498 9.66 6.5498 9.48358 6.5498C9.48358 11.8906 9.48358 17.2145 9.48358 22.543C9.83389 22.543 10.1732 22.543 10.5217 22.543ZM14.6992 6.52067C14.3448 11.8576 13.9912 17.1826 13.6369 22.5178C13.9941 22.539 14.3358 22.5592 14.6885 22.5801C15.0429 17.2426 15.3963 11.9208 15.7506 6.58565C15.395 6.56367 15.0532 6.54255 14.6992 6.52067ZM4.26033 6.61338C4.62063 11.9476 4.97961 17.2621 5.33891 22.5814C5.70333 22.559 6.04167 22.5382 6.39015 22.5167C6.0302 17.1869 5.67124 11.8716 5.31178 6.54929C4.95756 6.57087 4.61904 6.5915 4.26033 6.61338ZM6.32106 3.54426C8.78311 3.54426 11.2313 3.54426 13.6891 3.54426C13.6891 3.22944 13.6897 2.92384 13.689 2.61824C13.6876 1.96953 13.2459 1.55087 12.5615 1.55018C11.8581 1.54949 11.1547 1.55001 10.4513 1.55003C9.43428 1.55003 8.41724 1.54829 7.40022 1.5508C6.84164 1.55218 6.37184 1.91489 6.3275 2.41587C6.29468 2.78673 6.32106 3.16231 6.32106 3.54426Z"/>
                    </svg>
                  </span>
                </button>
              </div>

              <div class="order__cart-item order__cart-item--delivery" v-if="payDelivery">
                <div class="order__cart-item-card">
                  <div class="order__cart-item-card-name">Доставка</div>
                  <div class="order__cart-item-card-detail">200 ₽</div>
                </div>
                <div class="order__cart-item-deliver">При заказе менее 20 л требуется оплатить доставку.</div>
              </div>

            </div>

            <button class="order__cart-button-add" type="button" @click="addItemToCard">добавить <b>+</b></button>

            <div class="order__cart-bottom">
              <div>
                <div class="order__select-disclaimer">При заказе менее 20 литров требуется оплатить доставку. Стоимость доставки 200 ₽.</div>
                <div class="order__select-disclaimer">Позиции из этого списка могут быть доставлены только по одному адресу. Для доставки на другой адрес оформите ещё один заказ.</div>
              </div>
              <div>
                <div>Сумма заказа</div>
                <div class="h2">(( resultSum ))  ₽</div>
              </div>
              <button class="button button--small button--invert" type="button" @click="goToDelivery">
                <span class="button__inner">Далее</span>
              </button>
            </div>

          </div>

        </template>

        <template v-if="step === 'map'">
          <div class="order__map">
            <div class="order__select">

              <div class="order__select-title">выбор адреса на карте</div>
              <div class="order__map-container" id="order-map" style="width: 100%; height: 300px;"></div>
              <div class="small">
                Выбранный адрес: (( mapAddress ))<br>
                Ваши координаты: (( mapCoordinates ))
              </div>
            </div>
            <div class="order__map-buttons">
              <button class="button-blue" type="button" @click="goToDelivery">назад</button>
              <button class="button button--small button--invert" type="button" @click="applyAddress">
                <span class="button__inner">выбрать этот адрес</span>
              </button>
            </div>

          </div>
        </template>

        <template v-if="step === 'delivery'">
          <div class="order__delivery">

            <div class="order__select">
              <div class="order__select-title">данные для доставки</div>

              <div class="order__delivery-fields">
                <div>
                  <div class="order__delivery-field" :class="{'is-error': isSubmitted && !name}">
                    <div class="order__delivery-field-label">Имя и отчество*</div>
                    <label class="field field-second" :class="{'is-error': isSubmitted && !name}">
                      <input class="field-second__input" v-model="name" type="text" placeholder="Иван Иванович">
                    </label>
                  </div>

                  <div class="order__delivery-field" :class="{'is-error': isSubmitted && !isValidateEmail}">
                    <div class="order__delivery-field-label">Email*</div>
                    <label class="field field-second" :class="{'is-error': isSubmitted && !isValidateEmail}">
                      <input class="field-second__input" v-model="email" type="email" placeholder="example@example.ru">
                    </label>
                  </div>

                  <div class="order__delivery-field order__delivery-field--time" :class="{'is-error': isSubmitted && !isValidateDate}">
                    <div class="order__delivery-field-label">Дата и время доставки*</div>
                    <label class="field field-second" :class="{'is-error': isSubmitted && !isValidateDate}">
                      <input class="field-second__input" type="text" v-model="date" v-mask="'##.##.####'" placeholder="дд.мм.гггг">
                    </label>
                    <div class="order__delivery-select-time">
                      <button class="button-third button-third--center" @click="changeTime('-')" type="button">-</button>
                      <div class="small">(( time.hours )):(( time.minutes ))</div>
                      <button class="button-third button-third--center" @click="changeTime('+')" type="button">+</button>
                    </div>
                  </div>
                </div>

                <div>
                  <div class="order__delivery-field" :class="{'is-error': isSubmitted && !phone}">
                    <div class="order__delivery-field-label">Телефон*</div>
                    <label class="field field-second" :class="{'is-error': isSubmitted && !phone}">
                      <input class="field-second__input" v-model="phone" type="tel" v-mask="'+7 (###) ###-##-##'" placeholder="+7 (     ) ___ - __ - __">
                    </label>
                  </div>

                  <div class="order__delivery-field" :class="{'is-error': isSubmitted && !address}">
                    <div class="order__delivery-field-label">Адрес доставки*</div>
                    <label class="field field-second" :class="{'is-error': isSubmitted && !address}">
                      <input class="field-second__input" v-model="address" type="text" placeholder="ул. Центральная, 15">
                    </label>
                  </div>

                  <div class="order__delivery-field">
                    <div class="order__delivery-field-label"></div>
                    <button class="order__delivery-button-map" type="button" @click="step = 'map'">
                      <span class="order__delivery-button-map-inner">Указать на карте</span>
                    </button>
                  </div>

                </div>
              </div>

            </div>

            <div class="order__select">
              <div class="order__select-title">выберите способ оплаты</div>

              <div class="order__delivery-fields">
                <button class="order__delivery-pay-method-button" :class="{'is-active': payMethod === 'online'}" @click="payMethod = 'online'" type="button">
                  <span class="order__delivery-pay-method-button-inner">
                    <svg width="29" height="25" viewBox="0 0 29 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M26.6452 18.4194H2.45161C1.64984 18.4194 1 17.7695 1 16.9677V2.45161C1 1.64984 1.64984 1 2.45161 1H26.6452C27.4469 1 28.0968 1.64984 28.0968 2.45161V16.9677C28.0968 17.7695 27.4469 18.4194 26.6452 18.4194Z" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M26.6452 18.4193H2.45161C1.64984 18.4193 1 17.7695 1 16.9677V14.9516C1 14.1498 1.64984 14.4999 2.45161 14.4999H26.6452C27.4469 14.4999 28.0968 14.1498 28.0968 14.9516V16.9677C28.0968 17.7695 27.4469 18.4193 26.6452 18.4193Z" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M10.1581 23.4743L10.4334 23.3826L10.4903 23.0981L11.4099 18.5H17.5901L18.5097 23.0981L18.5628 23.3636L18.8143 23.4642L21.4037 24.5H7.08114L10.1581 23.4743Z" stroke="#0095F1"/>
                    </svg>
                    Оплатить онлайн
                  </span>
                </button>
                <button class="order__delivery-pay-method-button" :class="{'is-active': payMethod === 'card'}" @click="payMethod = 'card'" type="button">
                  <span class="order__delivery-pay-method-button-inner">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M29.5485 30.9999H5.35493C4.55316 30.9999 3.90332 30.3501 3.90332 29.5483V15.0322C3.90332 14.2304 4.55316 13.5806 5.35493 13.5806H29.5485C30.3503 13.5806 31.0001 14.2304 31.0001 15.0322V29.5483C31.0001 30.3501 30.3503 30.9999 29.5485 30.9999Z" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M12.6131 21.3226H7.77438C7.23971 21.3226 6.80664 20.8895 6.80664 20.3549V17.4516C6.80664 16.917 7.23971 16.4839 7.77438 16.4839H12.6131C13.1478 16.4839 13.5808 16.917 13.5808 17.4516V20.3549C13.5808 20.8895 13.1478 21.3226 12.6131 21.3226Z" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M13.0976 18.9033H11.1621V16.9678" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M7.29102 18.9033H9.2265V20.8388" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M7.29004 25.1934H10.1933" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M13.0967 25.1934H15.9999" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M18.9033 25.1934H21.8065" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M24.709 25.1934H27.6122" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M7.29004 28.0967H12.6126" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M15.5156 28.0967H27.6124" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M2.45161 18.4194C1.64984 18.4194 1 17.7695 1 16.9677V2.45161C1 1.64984 1.64984 1 2.45161 1H26.6452C27.4469 1 28.0968 1.64984 28.0968 2.45161V12.129" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M1.4834 4.87109H27.6124" stroke="#0095F1" stroke-miterlimit="10"/>
                      <path d="M1.4834 8.2583H27.6124" stroke="#0095F1" stroke-miterlimit="10"/>
                    </svg>
                    Картой после заправки
                  </span>
                </button>
              </div>

              <div class="order__delivery-policy">
                <label class="check" :class="{'is-error': isSubmitted && !accept}">
                  <input class="check__input" v-model="accept" type="checkbox" checked>
                  <span class="check__box"></span>
                  <span class="check__label">Я согласен на обработку персональных данных и заказа в соответствии с <a href="{{ this.theme.privacy|media }}" target="_blank">Политикой конфиденциальности</a> и <a href="{{ this.theme.terms|media }}" target="_blank">Пользовательским соглашением</a></span>
                </label>
              </div>

              <div class="order__delivery-bottom">
                <div class="order__select-disclaimer">Мы уточним удобную дату и время заправки после оформления заказа.</div>
                <div></div>
                <button class="button-blue" type="button" @click="goToCard">назад</button>

                {{ form_ajax('onCreateOrder', { class: '', method: 'POST', 'data-request-redirect' : "/success" }) }}

                <template v-for="(item, index) in items">
                  <input type="hidden" :name="`order[items][${index}][product_id]`" :value="item.fuel">
                  <input type="hidden" :name="`order[items][${index}][device_id]`" :value="item.technic">
                  <input type="hidden" :name="`order[items][${index}][volume]`" :value="item.volume" >
                  <input type="hidden" :name="`order[items][${index}][device_brand]`" :value="item.car.mark">
                  <input type="hidden" :name="`order[items][${index}][device_number]`" :value="item.car.number">
                </template>
                <input type="hidden" name="order[meta][payment_method]" :value="payMethod">
                <input type="hidden" name="order[buyer][name]" :value="name">
                <input type="hidden" name="order[buyer][phone]" :value="phone">
                <input type="hidden" name="order[buyer][email]" :value="email">
                <input type="hidden" name="order[meta][address]" :value="address">
                <input type="hidden" name="order[meta][date]" :value="datetime">

                <button class="button button--small button--invert" @click="onSubmit($event)" type="submit">
                  <span class="button__inner">
                      заказать и оплатить
                  </span>
                </button>
                {{ form_close() }}

              </div>

            </div>
          </div>
        </template>

      </div>
    </div>
  </div>
</div>

<script>
  function onSuccessOrder(data) {
    // data.message строка сообщения
    // data.errors объект ошибок name => message
  }
</script>
