
{% if this.theme.slider %}
    <div class="image-carousel {{ home ? '' : 'image-carousel--second' }}">
        <div class="image-carousel__container">
            <div class="image-carousel__slider">
                <div class="image-carousel__slider-inner">
                    <div class="js-image-carousel-slider">
                        {% for slide in this.theme.slider %}
                            <div class="image-carousel__slide">
                                <img class="image-carousel__slide-img" src="{{  slide.slide|media }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="image-carousel__nav  ">
                <div class="image-carousel__thumbs">
                    <div class="js-image-carousel-thumbs-slider">
                        {% for slide in this.theme.slider %}
                            <div class="image-carousel__thumbs-slide">
                                <img class="image-carousel__thumbs-slide-img" src="{{  slide.slide|media }}" alt="">
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="image-carousel__nav-dots">
                    {% for slide in this.theme.slider %}
                        <button class="image-carousel__nav-dot-button js-image-carousel-van-button is-active" data-slide="{{ loop.index }}"></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endif %}