<div>
    <dl class="requisites__dl">
        <dt class="requisites__dt">ИНН</dt>
        <dd class="requisites__dd">{{ this.theme.inn }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">КПП</dt>
        <dd class="requisites__dd">{{ this.theme.cpp }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">ОКПО</dt>
        <dd class="requisites__dd">{{ this.theme.ocpo }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">Р/с</dt>
        <dd class="requisites__dd">{{ this.theme.rs }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">Банк</dt>
        <dd class="requisites__dd">{{ this.theme.bank }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">БИК</dt>
        <dd class="requisites__dd">{{ this.theme.bik }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">К/с</dt>
        <dd class="requisites__dd">{{ this.theme.cs }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">Юридический адрес</dt>
        <dd class="requisites__dd">{{ this.theme.ur }}</dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">Телефон</dt>
        <dd class="requisites__dd"><a href="tel:{{ this.theme.c_phone }}">{{ this.theme.c_phone }}</a></dd>
    </dl>
    <dl class="requisites__dl">
        <dt class="requisites__dt">Директор</dt>
        <dd class="requisites__dd">{{ this.theme.co }}</dd>
    </dl>
</div>