title = "Сайт в режиме обслуживания"
url = "/close"
layout = ""
is_hidden = 0
==
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="{{ 'assets/images/favicon.ico'|theme }}" type="image/x-icon">
</head>
<body>
<main>
    <div style="text-align: center" >
        <img src="{{ 'assets/img/point.png'|theme }}" alt="">
        <h3>Сайт находится в режиме обслуживания.</h3>
    </div>
</main>
</body>
</html>


