title = "Доставка"
url = "/delivery"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=false %}

<main class="page__main">
  <div class="single">
    <div class="container container--small">

      <div class="side-nav" id="side-nav">
        <div class="side-nav__header">
          <a href="/" class="side-nav__home-link">
        <span class="side-nav__home-link-inner">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10H4.25V19H8.75V14.5H13.25V19H17.75V10H20L11 1L2 10Z" stroke="#00075B"/>
          </svg>
          <span>На главную</span>
        </span>
          </a>
        </div>
        <div class="side-nav__list">
          <a href="/payment" class="side-nav__link">Оплата</a>
          <a href="/delivery" class="side-nav__link is-active">Доставка</a>
          <a href="/return" class="side-nav__link">Возврат</a>
          <a href="{{ this.theme.privacy|media }}" class="side-nav__link" target="_blank">Политика конфиденциальности</a>
          <a href="{{ this.theme.terms|media }}" class="side-nav__link" target="_blank">Пользовательское соглашение</a>
        </div>
      </div>

      <h1 class="single__title h1">Доставка</h1>
      <div class="single__text">
        <p>
          Доставка осуществляется по городу Краснодар и ближайшим и населённым пунктам.<br> <br>
        </p>
        <p>
          Стоимость доставки: при заказе 20 и более литров - бесплатно, при заказе менее 20 литров стоимость доставки составит {{ this.theme.delivery}} рублей. <br> <br>
        </p>
        <p>
          Доставка топлива производится специальными автомобилями-заправщиками, оборудованными в полном соответствии с правилами перевозки опасных грузов.<br> <br>
        </p>
        <p>
          Укажите желаемую дату и время доставки при заказе. Точную дату и время заправки вам сообщит оператор при подтверждении заказа.<br> <br>
        </p>
        <p>
          Если вы хотите отменить заказ или перенести доставку, или у вас есть другие вопросы, связанные с доставкой, напишите нам на <a class="about__contacts-link" href="mailto:{{ this.theme.c_email ?? '' }}">{{ this.theme.c_email ?? '' }}</a> с указанием номера заказа, или позвоните по телефону <a class="about__contacts-link" href="tel:{{ this.theme.c_phone ?? '' }}">{{ this.theme.c_phone ?? '' }}</a>.
        </p>
      </div>
    </div>
  </div>

</main>
