title = "Главная"
url = "/"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=true %}

<!--  BODY  -->
<main class="page__main">

  <section class="first-screen">
    <div class="container">
      <div class="first-screen__inner">
        <h1 class="first-screen__title">точка топлива заправим где&nbsp;удобно!</h1>
        <div class="first-screen__offer h3">
          <svg width="53" height="67" viewBox="0 0 53 67" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M45.7038 1.44524L36.7211 10.3776C35.0419 12.0474 32.7643 12.9855 30.3895 12.9855H12.2595M1.75567 23.3179V58.8767C1.75567 62.8108 4.96283 66 8.91905 66H44.6179C48.5741 66 51.7812 62.8108 51.7812 58.8767V8.12329C51.7812 4.1892 48.5741 1 44.6179 1H24.237L1.75567 23.3179ZM1 14.3406L8.74796 6.63595L13.6283 11.489L5.88032 19.1936L1 14.3406ZM26.1285 26.9896C22.8638 30.868 8.89722 48.7184 26.7683 50.5201C44.6401 48.7184 30.6729 30.868 27.4081 26.9896C27.0659 26.5831 26.4706 26.5831 26.1285 26.9896Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          <div>мобильные азс в&nbsp;краснодаре.<br>Качественное топливо с&nbsp;доставкой без переплаты!</div>
        </div>
        <div class="h2">Цены как на&nbsp;заправке! Вы&nbsp;не&nbsp;переплачиваете за&nbsp;удобство.</div>
      </div>
    </div>
  </section>

  <section class="prices" id="prices">
    <div class="container container--small">
      <div class="prices__inner">
        {% for product in products[:3] %}
        <button class="prices__item js-popup-open" data-popup="popup-order" type="button">
          <span class="prices__item-inner">
            <span class="prices__item-label">{{ product.title }}</span>
            <span class="prices__item-value">
              <span class="prices__item-value-inner">{{ product.price_item}} ₽/л</span>
            </span>
          </span>
        </button>
        {% endfor %}
      </div>
    </div>
  </section>

  <section class="about-service" id="about-service">
    <div class="container container--small">
      <div class="about-service__inner">
        <div class="about-service__heading">
          <h2 class="about-service__heading-title h1">о сервисе</h2>
          <div class="about-service__heading-text h3">новый формат АЗС для тех, кто ценит качество и&nbsp;дорожит временем</div>
        </div>
        <div class="about-service__advantage">
          <div class="about-service__advantage-item">
            <img src="{{ 'assets/img/about-service/1.svg'|theme }}" alt="">
            <div>
              <h3 class="about-service__advantage-item-title">Качественно</h3>
              <p class="about-service__advantage-item-text small">Поставки топлива напрямую от производителя, имеются все необходимые сертификаты качества.</p>
            </div>
          </div>
          <div class="about-service__advantage-item">
            <img src="{{ 'assets/img/about-service/2.svg'|theme }}" alt="">
            <div>
              <h3 class="about-service__advantage-item-title">Безопасно</h3>
              <p class="about-service__advantage-item-text small">Используем только специально подготовленные автомобили-заправщики.</p>
            </div>
          </div>
          <div class="about-service__advantage-item">
            <img src="{{ 'assets/img/about-service/3.svg'|theme }}" alt="">
            <div>
              <h3 class="about-service__advantage-item-title">Удобно</h3>
              <p class="about-service__advantage-item-text small">Оплатите топливо и&nbsp;оставьте лючок приоткрытым&nbsp;&mdash; всё сделаем сами, отправим фото в&nbsp;WhatsApp или Telegram. Можете расплатиться картой после заправки, если будете рядом. Выбор за&nbsp;вами!</p>
            </div>
          </div>
          <div class="about-service__advantage-item">
            <img src="{{ 'assets/img/about-service/4.svg'|theme }}" alt="">
            <div>
              <h3 class="about-service__advantage-item-title">Выгодно</h3>
              <p class="about-service__advantage-item-text small">Цена литра как на&nbsp;стелле, доставка при заказе от&nbsp;20&nbsp;литров&nbsp;&mdash; бесплатно.</p>
            </div>
          </div>
        </div>
        <div class="about-service__text">
          <p>
            В&nbsp;то&nbsp;время, когда очереди за&nbsp;документами сокращает портал Госуслуг, а&nbsp;вместо длительного визита в&nbsp;банк мы&nbsp;используем мобильное приложение, странно наблюдать, как автолюбители и&nbsp;водители тратят драгоценное время, добираясь до&nbsp;АЗС своим ходом.<br />
            <br />
            &laquo;Точка топлива&raquo; меняет привычный всем процесс заправки, и&nbsp;доставляет топливо прямо в&nbsp;бак без переплат. Мы&nbsp;экономим вам время и&nbsp;деньги, и&nbsp;гарантируем лучшее топливо, отличный сервис, честность и&nbsp;безопасность при каждой заправке.
          </p>
          <p>
            Сотрудничаем напрямую с&nbsp;ведущими заводами-производителями: Лукойл, Роснефть и&nbsp;Газпром нефть.<br />
            <br />
            Заправим ваш легковой или грузовой автомобиль, генератор, сельскохозяйственную и&nbsp;другую технику в&nbsp;Краснодаре.<br />
            <br />
            Вместо ожидания на&nbsp;АЗС воспользуйтесь &laquo;Точкой топлива&raquo;. Уверены, вам понравится!
          </p>
        </div>
      </div>
    </div>
  </section>

  {% partial '_slider' home=true %}

  <div class="detail">
    <img class="detail__img" src="{{ 'assets/img/detail/image.png'|theme }}" alt="">

    <section class="who-work" id="who-work">
      <div class="container">
        <h2 class="who-work__title h1">как это работает?</h2>
        <div class="who-work__grid">
          <div class="card-step card-step--with-link">
            <div class="card-step__number h2">1</div>
            <h3 class="card-step__title h2">заказ и&nbsp;оплата</h3>
            <p class="small">Выберите вид и&nbsp;количество топлива, место, желаемую дату и&nbsp;время заправки. Вы&nbsp;можете заплатить на&nbsp;сайте, или картой курьеру, если будете рядом во&nbsp;время заправки.</p>
            <a class="card-step__link" href="{{ 'payment'|page }}">подробнее об оплате</a>
          </div>
          <div class="card-step card-step--with-link">
            <div class="card-step__number h2">2</div>
            <h3 class="card-step__title h2">Согласование доставки</h3>
            <p class="small">Наш менеджер свяжется с&nbsp;вами для подтверждения заказа, места, даты и&nbsp;времени доставки. Если вам нужно подкачать шины или долить омывающей жидкости&nbsp;&mdash; не&nbsp;вопрос!</p>
            <a class="card-step__link" href="{{ 'delivery'|page }}">подробнее о доставке</a>
          </div>
          <div class="card-step">
            <div class="card-step__number h2">3</div>
            <h3 class="card-step__title h2">Доставка и&nbsp;заправка</h3>
            <p class="small">В&nbsp;назначенное время наш сотрудник приедет и&nbsp;заправит вас. Если вы&nbsp;оплатили заказ заранее, личное присутствие не&nbsp;обязательно, просто приоткройте лючок бензобака. Мы&nbsp;отправим вам фото пистолета с&nbsp;количеством залитых литров.</p>
          </div>
        </div>
        <div class="who-work__button">
          <button class="button js-popup-open" data-popup="popup-order" type="button">
            <span class="button__inner">
              <svg class="button__icon" width="26" height="25" viewBox="0 0 26 25" fill="none">
                <path d="M1 1L1.2499 1.0952C2.74242 1.66378 3.8735 2.91117 4.29374 4.45205L4.375 4.75M21.625 17.875H10.2792C8.37249 17.875 6.73083 16.5292 6.35689 14.6595L5.95 12.625M4.375 4.75H24.25L21.625 12.625H5.95M4.375 4.75L5.95 12.625" stroke="black" stroke-width="2"/>
                <circle cx="19" cy="22" r="2.25" fill="black"/>
                <circle cx="9.25" cy="22" r="2.25" fill="black"/>
                <path d="M10.75 4.75L11.5 12.625" stroke="black" stroke-width="2"/>
                <path d="M17.5 4.75L16.75 12.625" stroke="black" stroke-width="2"/>
                <path d="M5.5 8.5L22.75 8.5" stroke="black" stroke-width="2"/>
              </svg>
              <span>купить топливо</span>
            </span>
          </button>
        </div>
      </div>
    </section>

    <section class="what-fill" id="what-fill">
      <div class="container container--small">
        <h2 class="what-fill__title h1">что заправляем</h2>

        <div class="what-fill__grid">
          <div class="what-fill__item">
            <div class="what-fill__item-cover">
              <img class="what-fill__item-cover-img" style="width: 100%" src="{{ 'assets/img/what-fill/1.svg'|theme }}" alt="">
            </div>
            <h3 class="what-fill__item-title">Автомобили и&nbsp;мотоциклы</h3>
            <p class="small">Легковые и грузовые, с любым диаметром горловины</p>
          </div>
          <div class="what-fill__item">
            <div class="what-fill__item-cover">
              <img class="what-fill__item-cover-img" style="width: 87.5%;" src="{{ 'assets/img/what-fill/2.svg'|theme }}" alt="">
            </div>
            <h3 class="what-fill__item-title">Спецтехника</h3>
            <p class="small">Бульдозеры, экскаваторы, погрузчики и другие виды</p>
          </div>
          <div class="what-fill__item">
            <div class="what-fill__item-cover">
              <img class="what-fill__item-cover-img" style="width: 100%;" src="{{ 'assets/img/what-fill/3.svg'|theme }}" alt="">
            </div>
            <h3 class="what-fill__item-title">С/х Техника</h3>
            <p class="small">Тракторы, комбайны, полевые хранилища</p>
          </div>
          <div class="what-fill__item">
            <div class="what-fill__item-cover">
              <img class="what-fill__item-cover-img" style="width: 100%;" src="{{ 'assets/img/what-fill/4.svg'|theme }}" alt="">
            </div>
            <h3 class="what-fill__item-title">Катера и яхты</h3>
            <p class="small">Ёмкости для топлива или прямо в бак, если можно подъехать к эллингу или причалу</p>
          </div>
          <div class="what-fill__item">
            <div class="what-fill__item-cover">
              <img class="what-fill__item-cover-img" style="width: 65%;" src="{{ 'assets/img/what-fill/5.svg'|theme }}" alt="">
            </div>
            <h3 class="what-fill__item-title">Генераторы</h3>
            <p class="small">Дизельные и бензиновые электрогенераторы</p>
          </div>
        </div>
      </div>
    </section>

    <section class="fuel" id="fuel">
      <div class="container container--small">
        <h2 class="fuel__title h1">Топливо</h2>
        <p class="fuel__text">Топливо поставляется напрямую от&nbsp;производителей, имеются сертификаты и&nbsp;контрольные пробы.</p>
        <div class="fuel__inner">
          <div class="fuel__carousel">
            <div class="fuel__carousel-preview">
              <img class="fuel__carousel-preview-img" src="{{ 'assets/img/fuel/preview.png'|theme }}" alt="">
              <div class="fuel__carousel-preview-slider">
                <div class="js-fuel-carousel-preview-slider">
                  {% for product in products %}
                  <div class="fuel__carousel-preview-item">
                    <div class="fuel__carousel-preview-item-title">{{ product.short }}</div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>

            <div class="fuel__carousel-container">
              <div class="js-fuel-carousel">
                {% for product in products %}
                <div class="fuel__carousel-slide">
                  <p class="small">{{ product.description }}</p>
                </div>
                {% endfor %}
              </div>
            </div>

          </div>
          <div class="fuel__buttons">
            <div class="fuel__buttons-select">
              {% for product in products %}
              <button class="button-second js-button-fuel-carousel {{ loop.first ? 'is-active' : '' }}" type="button">{{ product.title }}</button>
              {% endfor %}
            </div>
            <button class="button js-popup-open" data-popup="popup-order" type="button">
              <span class="button__inner">
                <svg class="button__icon" width="26" height="25" viewBox="0 0 26 25" fill="none">
                  <path d="M1 1L1.2499 1.0952C2.74242 1.66378 3.8735 2.91117 4.29374 4.45205L4.375 4.75M21.625 17.875H10.2792C8.37249 17.875 6.73083 16.5292 6.35689 14.6595L5.95 12.625M4.375 4.75H24.25L21.625 12.625H5.95M4.375 4.75L5.95 12.625" stroke="black" stroke-width="2"/>
                  <circle cx="19" cy="22" r="2.25" fill="black"/>
                  <circle cx="9.25" cy="22" r="2.25" fill="black"/>
                  <path d="M10.75 4.75L11.5 12.625" stroke="black" stroke-width="2"/>
                  <path d="M17.5 4.75L16.75 12.625" stroke="black" stroke-width="2"/>
                  <path d="M5.5 8.5L22.75 8.5" stroke="black" stroke-width="2"/>
                </svg>
                <span>купить топливо</span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </section>

    <section class="guarantee" id="guarantee">
      <div class="container container--pl container--small">
        <div class="guarantee__inner">
          <div class="guarantee__text">
            <h2 class="guarantee__text-title">гарантия качества от&nbsp;производителя</h2>
            <p class="small">Бережно храним топливо после прямой поставки на собственных нефтебазах, используем измерительно оборудование для контроля качества хранения.</p>
          </div>
          <div class="guarantee__files">
            <a class="link-file" href="{{ this.theme.cert|media }}" target="_blank" rel="noopener">
              <img class="link-file__icon" src="{{ 'assets/img/icons/pdf.svg'|theme }}" alt="">
              <span class="link-file__text">Скачать<br>сертификаты качества в&nbsp;формате PDF</span>
            </a>
          </div>
        </div>
      </div>
    </section>

  </div>

  <section class="about-fuel" id="about-fuel">
    <div class="container container--pl container--small">
      <div class="about-fuel__inner">
        <div class="about-fuel__text">
          <h2 class="about-fuel__text-title h2">Топливо от&nbsp;ведущих производителей</h2>
          <p>Получаем топливо напрямую с хранилищ «Лукойл», «Роснефть» и «Газпром нефть». Так мы гарантируем оптимальную цену и достойное качество.</p>
        </div>
        <div class="about-fuel__logos">
          <img class="about-fuel__logos-img" src="{{ 'assets/img/about-fuel/1.png'|theme }}" alt="Газпром">
          <img class="about-fuel__logos-img" src="{{ 'assets/img/about-fuel/2.png'|theme }}" alt="Лукойл">
          <img class="about-fuel__logos-img" src="{{ 'assets/img/about-fuel/3.png'|theme }}" alt="Роснефть">
        </div>
      </div>
    </div>
  </section>

  <section class="services">
    <div class="container container--pl container--small">
      <div class="services__grid">
        <div class="services__main">
          <h2 class="services__main-title h1">Услуги</h2>
          <div class="services__main-text h3">Не топливом единым живёт автомобиль!</div>
        </div>

        <div class="services__cart">
          <div class="services__cart-img-wrap">
            <img class="services__cart-img" src="{{ 'assets/img/services/1.svg'|theme }}" alt="">
          </div>
          <div class="services__cart-description">Подкачка шин</div>
          <div class="services__cart-price services__cart-price--free">
            <div class="services__cart-price-inner">Бесплатно</div>
          </div>
        </div>

        <div class="services__cart">
          <div class="services__cart-img-wrap">
            <img class="services__cart-img" src="{{ 'assets/img/services/2.svg'|theme }}" alt="">
          </div>
          <div class="services__cart-description">Запуск двигателя (Kickstarter)</div>
          <div class="services__cart-price services__cart-price--free">
            <div class="services__cart-price-inner">Бесплатно</div>
          </div>
        </div>

        <div class="services__cart">
          <div class="services__cart-img-wrap">
            <img class="services__cart-img" src="{{ 'assets/img/services/3.svg'|theme }}" alt="">
          </div>
          <div class="services__cart-description">Долив омывающей жидкости</div>
          <div class="services__cart-price">
            <div class="services__cart-price-inner">400 ₽</div>
          </div>
        </div>

        <div class="services__cart">
          <div class="services__cart-img-wrap">
            <img class="services__cart-img" src="{{ 'assets/img/services/4.svg'|theme }}" alt="">
          </div>
          <div class="services__cart-description">Долив антифриза</div>
          <div class="services__cart-price">
            <div class="services__cart-price-inner">500 ₽</div>
          </div>
        </div>

        <div class="services__cart">
          <div class="services__cart-img-wrap">
            <img class="services__cart-img" src="{{ 'assets/img/services/5.svg'|theme }}" alt="">
          </div>
          <div class="services__cart-description">Чистка лобового стекла, зеркал, фар и&nbsp;номерного знака </div>
          <div class="services__cart-price">
            <div class="services__cart-price-inner">100 ₽</div>
          </div>
        </div>


      </div>
    </div>
  </section>

  {% if this.theme.faq %}
  <section class="faq" id="faq">
    <div class="container container--v-small">
      <h2 class="faq__title h1">вопросы и ответы</h2>
      <div class="faq__accordion">
        {% for item in this.theme.faq %}
        <div class="faq__item js-faq-item">
          <button class="faq__item-button js-faq-button" type="button">
            <span class="faq__item-button-inner">
              {{ item.question }}
            </span>
          </button>
          <div class="faq__item-content js-faq-item-content">
            <div class="faq__item-content-inner">
              {{ item.answer }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div class="faq__button">
        <button class="button button--invert js-popup-open" data-popup="popup-feedback" type="button">
          <span class="button__inner">
            <svg class="button__icon" width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.43578 16.5502C-0.379104 9.77693 3.64044 2.81488 10.4137 1M6.93907 14.8366C6.02226 11.415 8.05277 7.89805 11.4743 6.98124M18.1406 8.03713C17.7163 9.22775 18.3308 10.5388 19.5186 10.9727L20.0752 11.1764C22.5581 11.9073 21.164 15.0048 20.4252 16.3406C20.2152 16.7203 19.937 17.1977 19.7234 17.552C18.9434 18.8427 16.9283 21.6468 15.0484 19.8394L14.5963 19.4566C13.6306 18.6413 12.1865 18.7568 11.3641 19.7174L10.7821 20.3958C10.7821 20.3958 9.12731 22.3021 8.98409 23.495C8.86513 24.4762 10.7312 25.3671 11.243 25.6037C12.6103 26.3379 14.1187 26.3143 15.0729 26.188C19.2102 25.6412 22.106 21.3167 23.095 19.6163C23.3406 19.1938 23.6487 18.6685 23.9143 18.2036C24.9202 16.4499 27.1601 11.8593 25.6019 8.04519C25.2383 7.15447 24.5101 5.83212 23.195 5.00892C22.7354 4.68226 21.0366 3.50467 20.2435 4.094C19.275 4.81219 18.4407 7.1941 18.4407 7.1941L18.1406 8.03713Z" stroke="#00075B" stroke-width="2"/>
            </svg>
            <span>остались вопросы?</span>
          </span>
        </button>
      </div>

    </div>

  </section>
  {% endif %}

  <section class="about" id="about">
    <div class="about__inner">
      <div class="container container--small">
        <h2 class="about__title h1">о «точке топлива»</h2>
        <div class="about__text">
          <p>
            &laquo;Точка топлива&raquo;&nbsp;&mdash; это команда, которая занимается поставкой, хранением и&nbsp;продажей топлива более 20&nbsp;лет. Опыт и&nbsp;профессионализм в&nbsp;сфере нефтепродуктов и&nbsp;ГСМ позволяет нам менять рынок АЗС к&nbsp;неминуемому будущему.<br />
            <br />
            Миссия компании &laquo;Точка топлива&raquo;&nbsp;&mdash; качественно улучшить привычный процесс заправки, сделать заправку для покупателя проще, чем заказ такси. Для нас важны удобство клиента, качество поставляемого топлива и&nbsp;предоставляемого сервиса.<br />
            <br />
            Мы&nbsp;открыты к&nbsp;любым предложениям, и&nbsp;будем благодарны за&nbsp;любую обратную связь. Пожалуйста, напишите нам на&nbsp;{{ this.theme.c_email ?? '' }}, если вам есть, что сказать, или интересно сотрудничество с&nbsp;нашей компанией.
          </p>
        </div>
      </div>
      <div class="container container--small container--pl">
        <img class="about__img" src="{{ this.theme.main|media }}" alt="">
      </div>
      <div class="container container--small">
        <div class="about__contacts" id="contacts">
          <img class="about__contacts-img" src="{{ this.theme.second|media }}" alt="">
          <div class="about__contacts-links">
            <a class="about__contacts-link h2" href="tel:{{ this.theme.c_phone ?? '' }}">{{ this.theme.c_phone ?? '' }}</a>
            <address class="h2">{{ this.theme.c_address ?? '' }}</address>
            <a class="about__contacts-link h2" href="mailto:{{ this.theme.c_email ?? '' }}">{{ this.theme.c_email ?? '' }}</a>
            <div class="about__contacts-socials">
              <a class="about__contacts-socials-link" href="{{ this.theme.c_fb ?? '' }}">
            <span class="about__contacts-socials-link-inner">
              <svg class="about__contacts-socials-link-icon" width="21" height="21" viewBox="0 0 21 21">
                <path d="M10.9665 20.842V12.846H8.25709V9.61304H10.9665V6.96857C10.9665 4.83288 12.6977 3.10177 14.8333 3.10177H17.6519V6.07236H15.4721C14.8885 6.07236 14.4141 6.54192 14.4091 7.1255L14.3859 9.60079L17.4876 9.61182L17.1578 12.8435L14.4619 12.857V20.842H19.5743C20.3221 20.842 20.929 20.2351 20.929 19.4872V1.35473C20.929 0.606869 20.3221 0 19.5743 0H1.35473C0.606869 0 0 0.606869 0 1.35473V19.4872C0 20.2351 0.606869 20.842 1.35473 20.842H10.9665Z" />
              </svg>
            </span>
              </a>
              <a class="about__contacts-socials-link" href="{{ this.theme.c_vk ?? '' }}">
            <span class="about__contacts-socials-link-inner">
              <svg class="about__contacts-socials-link-icon" width="27" height="15" viewBox="0 0 27 15">
                <path d="M0.586076 0.701539H4.73288C5.2559 0.701539 5.72756 1.00962 5.93303 1.48385C5.93303 1.48385 6.47123 2.90308 7.35849 4.43769C8.24576 5.97231 9.26612 7.08346 9.26612 7.08346C9.65605 7.58654 10.4698 7.33038 10.4931 6.69577L10.59 3.96577V2.61692C10.59 1.81038 9.96076 1.14 9.14705 1.07885L8.78746 1.05231C8.78746 0.470769 9.91406 0 10.5025 0H14.4111C15.1501 0 15.749 0.591923 15.749 1.32231V6.70962C15.749 7.35923 16.5861 7.635 16.9807 7.11462C16.9807 7.11462 17.9333 6.07846 18.7517 4.72962C19.5701 3.38077 20.3138 1.33038 20.3138 1.33038C20.5099 0.898846 20.9442 0.620769 21.4229 0.620769H26.1604C26.7967 0.620769 27.1936 1.30269 26.8737 1.84731C26.8737 1.84731 26.1627 3.06692 25.5008 4.15038C24.8388 5.23385 22.7386 7.78154 22.7386 7.78154C22.3265 8.31692 22.4175 9.07962 22.9441 9.50538L24.2411 10.7619C24.2411 10.7619 26.785 13.2704 26.7056 13.1931C27.3535 13.8796 26.862 15 25.9117 15H21.4182C20.5846 15 19.8036 14.5985 19.3249 13.9235L17.5037 11.8696C16.8359 11.2546 15.7478 12.135 15.7478 13.0373V14.1773C15.7478 14.6319 15.3754 15 14.9154 15H12.9961C10.9531 15 8.99528 14.2788 7.46124 12.9958C3.27357 9.41654 0.0677252 1.55077 0.0677252 1.55077C-0.13658 1.16423 0.145945 0.701539 0.586076 0.701539Z"/>
              </svg>
            </span>
              </a>
              <a class="about__contacts-socials-link" href="{{ this.theme.c_in ?? '' }}">
                <span class="about__contacts-socials-link-inner">
                  <svg class="about__contacts-socials-link-icon" width="21" height="21" viewBox="0 0 21 21">
                    <path d="M15.4869 0H5.51188C2.46688 0 0 2.46812 0 5.51312V15.4881C0 18.5331 2.46812 21 5.51188 21H15.4869C18.5319 21 21 18.5319 21 15.4881V5.51312C20.9988 2.46812 18.5306 0 15.4869 0ZM10.4988 16.3701C7.26229 16.3701 4.62865 13.7365 4.62865 10.5C4.62865 7.26353 7.26229 4.62988 10.4988 4.62988C13.7352 4.62988 16.3689 7.26353 16.3689 10.5C16.3689 13.7365 13.7352 16.3701 10.4988 16.3701ZM16.6678 5.51312C15.9674 5.51312 15.3992 4.94488 15.3992 4.24447C15.3992 3.54406 15.9674 2.97582 16.6678 2.97582C17.3682 2.97582 17.9365 3.54406 17.9365 4.24447C17.9365 4.94488 17.3682 5.51312 16.6678 5.51312Z"/>
                    <path d="M10.4987 14.5168C12.7174 14.5168 14.5159 12.7182 14.5159 10.4996C14.5159 8.28097 12.7174 6.48242 10.4987 6.48242C8.28012 6.48242 6.48157 8.28097 6.48157 10.4996C6.48157 12.7182 8.28012 14.5168 10.4987 14.5168Z"/>
                  </svg>
                </span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
