title = "Заказ успешно оформлен"
url = "/success"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=false %}

<main class="page__main">
  <div class="single">
    <div class="container container--small">
      <div class="message">
        <div class="message__success">
          <h1>Заказ оформлен</h1>
          <h2>Спасибо!</h2>
          <p>Ваш заказ успешно оформлен. Мы скоро обработаем его, и свяжемся с вами для уточнения деталей заказа.<br>
            Письмо о заказе отправлено на ваш email.</p>
          <div class="message__success-title h2">Возвращайтесь к нам снова!</div>
          <a href="/">На главную</a>
        </div>
      </div>
    </div>
  </div>
</main>
