title = "Статичная страница"
url = "/text"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=false %}

<main class="page__main">
  <div class="single">
    <div class="container container--small">

      <div class="side-nav" id="side-nav">
        <div class="side-nav__header">
          <a href="/" class="side-nav__home-link">
        <span class="side-nav__home-link-inner">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10H4.25V19H8.75V14.5H13.25V19H17.75V10H20L11 1L2 10Z" stroke="#00075B"/>
          </svg>
          <span>На главную</span>
        </span>
          </a>
        </div>
        <div class="side-nav__list">
          <a href="/payment" class="side-nav__link is-active">Оплата</a>
          <a href="/delivery" class="side-nav__link">Доставка</a>
          <a href="/return" class="side-nav__link">Возврат</a>
          <a href="#" class="side-nav__link" target="_blank">Политика конфиденциальности</a>
          <a href="#" class="side-nav__link" target="_blank">Пользовательское соглашение</a>
        </div>
      </div>

      <h1 class="single__title h1">Страница</h1>
      <div class="single__text">
        <p>
          Длительный опыт в&nbsp;работы в&nbsp;нефтехимическом секторе позволил сформировать устойчивые связи и&nbsp;прямые отношения с&nbsp;производителями топлива, высокооктановых компонентов и&nbsp;сложной органической химии. Мы&nbsp;работаем с&nbsp;КИНЕФ, СУРГУТНЕФТЕГАЗ, ГАЗПРОМ, СИБУР и&nbsp;другими поставщиками из&nbsp;стран Европы и&nbsp;Азии.<br />
          Разрабатываем новые продукты и&nbsp;внедряем сервисы.<br />
          <br />
          &laquo;Точка Топлива&raquo; запускает новый удобный сервис мобильных АЗС.<br />
          Мы&nbsp;сохраним ваше время, деньги и&nbsp;гарантируем качественный сервис и&nbsp;нефтепродукты поставляемыми напрямую от&nbsp;производителя.<br />
          <br />
          Длительный опыт в&nbsp;работы в&nbsp;нефтехимическом секторе позволил сформировать устойчивые связи и&nbsp;прямые отношения с&nbsp;производителями топлива, высокооктановых компонентов и&nbsp;сложной органической химии. Мы&nbsp;работаем с&nbsp;КИНЕФ, СУРГУТНЕФТЕГАЗ.
        </p>
      </div>
    </div>
  </div>

  {% partial '_slider' home=false %}

  <section class="single-inner">
    <div class="container container--small">
      <h2 class="h2">заголовок</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cumque fuga molestias quos repellendus repudiandae? Asperiores dicta dignissimos illum impedit iste iure laboriosam molestias nam recusandae sapiente. Alias necessitatibus, quaerat.
      </p>
      <ul>
        <li>Длительный опыт в работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения;</li>
      </ul>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis, cumque fuga molestias quos repellendus repudiandae? Asperiores dicta dignissimos illum impedit iste iure laboriosam molestias nam recusandae sapiente. Alias necessitatibus, quaerat.
      </p>
    </div>
  </section>



  <div class="single-blue">
    <div class="container">
      <div class="single-blue__inner">

        <section class="pay-methods">
          <h2 class="pay-methods__title">способ оплаты</h2>
          <p class="pay-methods__text">
            Длительный опыт в работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.
          </p>
          <div class="pay-methods__list">
            <section class="pay-methods__item">
              <div class="pay-methods__item-icon">
                <img src="{{ 'assets/img/pay-methods/1.svg'|theme }}" alt="" class="pay-methods__item-icon-img">
              </div>
              <h3 class="pay-methods__item-name">наличный</h3>
              <p class="small">Длительный опыт работы в нефтехими&shy;ческом секторе</p>
            </section>
            <section class="pay-methods__item">
              <div class="pay-methods__item-icon">
                <img src="{{ 'assets/img/pay-methods/2.svg'|theme }}" alt="" class="pay-methods__item-icon-img">
              </div>
              <h3 class="pay-methods__item-name">безналичный</h3>
              <p class="small">Длительный опыт работы в нефтехими&shy;ческом секторе</p>
            </section>
          </div>
        </section>

        <section class="single-blue__text">
          <img class="single-blue__text-img" src="{{ 'assets/img/single-blue/img.jpg'|theme }}" alt="">
          <p>Длительный опыт в&nbsp;работы в&nbsp;нефтехимическом секторе позволил сформировать устойчивые связи и&nbsp;прямые отношения с&nbsp;производителями топлива, высокооктановых компонентов и&nbsp;сложной органической химии. Мы&nbsp;работаем с&nbsp;КИНЕФ, СУРГУТНЕФТЕГАЗ, ГАЗПРОМ, СИБУР и&nbsp;другими поставщиками из&nbsp;стран Европы и&nbsp;Азии.<br />
            Разрабатываем новые продукты и&nbsp;внедряем сервисы.<br />
            <br />
            &laquo;Точка Топлива&raquo; запускает новый удобный сервис мобильных АЗС. Мы&nbsp;сохраним ваше время, деньги и&nbsp;гарантируем качественный сервис и&nbsp;нефтепродукты поставляемыми напрямую от&nbsp;производителя.
          </p>
        </section>

        <section class="single-blue__list">
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">1</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">2</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">3</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">4</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">5</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">6</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <section class="requisites">
    <div class="container container--small">
      <h2 class="requisites__title h1">реквизиты</h2>
      <div class="requisites__inner">
        <div class="requisites__name">ООО «Точка Топлива»</div>
        <div class="requisites__files">
          <a class="link-file-second" href="{{ this.theme.pay|media }}">
            <span class="link-file-second__inner">
              <img src="{{ 'assets/img/icons/pdf-blue.svg'|theme }}" alt="">
              <span class="h2">скачать реквизиты в &nbsp;pdf</span>
            </span>
          </a>
        </div>
        {% partial '_ur-info' %}
      </div>
    </div>
  </section>

</main>
