title = "Ошибка оформления"
url = "/error"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=false %}

<main class="page__main">
  <div class="single">
    <div class="container container--small">
      <div class="message">
        <div class="message__error">
          <div class="h3">что-то пошло не так</div>
          <div>Во время оплаты произошла ошибка вернуться на <a href="{{ 'home'|page }}">главную</a></div>
          <div>
            Не удалось оформить ваш заказ.<br>
            Пожалуйста, повторите попытку.
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
