title = "Оплата"
url = "/payment_copy"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=false %}

<main class="page__main">
  <div class="single">
    <div class="container container--small">
      <h1 class="single__title h1">Оплата</h1>
      <div class="single__text">
        <p>
          Вы можете оплатить заказ на сайте, или воспользоваться оплатой после заправки. <br> <br>
        </p>
        <p>
          Если вы хотите приобретать наши товары и услуги как юридическое лицо, или у вас есть другие вопросы, связанные с оплатой, напишите нам на
          <a class="about__contacts-link" href="mailto:{{ this.theme.c_email ?? '' }}">{{ this.theme.c_email ?? '' }}</a> c темой «Заказ от юридического лица», или позвоните по телефону <a class="about__contacts-link" href="tel:{{ this.theme.c_phone ?? '' }}">{{ this.theme.c_phone ?? '' }}</a>.

        </p>
      </div>
    </div>
  </div>
  <section class="single-inner">
    <div class="container container--small">
      <h2 class="h2">Оплата банковской картой на сайте</h2>
      <p>Оплата банковской картой на сайте осуществляется с помощью сервиса Яндекс.Касса</p>
      <p>Мы принимаем к оплате популярные банковские карты: <br>
        Также доступна оплата через Google Pay и Apple Pay.
      </p>
      <p>
        После подтверждения выбранного товара откроется защищенное окно со страницей платёжного сервис провайдера, где Вам необходимо ввести данные Вашей банковской карты.
        Для дополнительной аутентификации держателя карты используется протокол 3D Secure. Если Ваш банк поддерживает данную технологию, Вы будете перенаправлены на его сервер для дополнительной идентификации.
        Информацию о правилах и методах дополнительной идентификации уточняйте, пожалуйста, в банке, выдавшем Вам банковскую карту.
      </p>
      <p>
        Все операции с банковскими картами проводятся в соответствии с требованиями VISA International, MasterCard Worldwide, карты МИР защищены технологией MirAccept.
      </p>
      <p>
        Мы гарантируем безопасность платежей и надежно защищаем данные вашей банковской карты при оплате онлайн. Все конфиденциальные данные передаются в зашифрованном виде с использованием криптографического протокола SSL на сервер. Дальнейшая передача данных с сервера осуществляется по закрытым банковским сетям высшей степени защиты. Обработка конфиденциальных данных клиента производится в процессинговом центре.
      </p>

      <h2 class="h2">Оплата банковской картой после заправки</h2>
      <p>Вы можете оплатить заказ банковской картой после заправки, если будете рядом с авто во время заправки. Выбирайте соответствующий способ оплаты при заказе топлива.</p>
    </div>
  </section>

  <div class="single-blue">
    <div class="container">
      <div class="single-blue__inner">

        <section class="pay-methods">
          <h2 class="pay-methods__title">способ оплаты</h2>
          <p class="pay-methods__text small">
            Длительный опыт в работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.
          </p>
          <div class="pay-methods__list">
            <section class="pay-methods__item">
              <div class="pay-methods__item-icon">
                <img src="{{ 'assets/img/pay-methods/3.svg'|theme }}" alt="" class="pay-methods__item-icon-img">
              </div>
              <h3 class="pay-methods__item-name">оплата онлайн</h3>
              <p class="small">Длительный опыт работы в нефтехимическом секторе</p>
            </section>
            <section class="pay-methods__item">
              <div class="pay-methods__item-icon">
                <img src="{{ 'assets/img/pay-methods/2.svg'|theme }}" alt="" class="pay-methods__item-icon-img">
              </div>
              <h3 class="pay-methods__item-name">безналичный</h3>
              <p class="small">Длительный опыт работы в нефтехими&shy;ческом секторе</p>
            </section>
          </div>
        </section>

        <section class="single-blue__text">
          <img class="single-blue__text-img" src="{{ 'assets/img/single-blue/img.jpg'|theme }}" alt="">
          <p>Длительный опыт в&nbsp;работы в&nbsp;нефтехимическом секторе позволил сформировать устойчивые связи и&nbsp;прямые отношения с&nbsp;производителями топлива, высокооктановых компонентов и&nbsp;сложной органической химии. Мы&nbsp;работаем с&nbsp;КИНЕФ, СУРГУТНЕФТЕГАЗ, ГАЗПРОМ, СИБУР и&nbsp;другими поставщиками из&nbsp;стран Европы и&nbsp;Азии.<br />
            Разрабатываем новые продукты и&nbsp;внедряем сервисы.<br />
            <br />
            &laquo;Точка Топлива&raquo; запускает новый удобный сервис мобильных АЗС. Мы&nbsp;сохраним ваше время, деньги и&nbsp;гарантируем качественный сервис и&nbsp;нефтепродукты поставляемыми напрямую от&nbsp;производителя.
          </p>
        </section>

        <section class="single-blue__list">
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">1</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">2</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">3</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">4</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">5</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
          <div class="single-blue__list-item">
            <div class="single-blue__list-item-number h2">6</div>
            <h3 class="single-blue__list-item-title">Длительный опыт работы</h3>
            <p class="small">Длительный опыт работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.</p>
          </div>
        </section>
      </div>
    </div>
  </div>

  <section class="requisites">
    <div class="container container--small">
      <h2 class="requisites__title h1">реквизиты</h2>
      <div class="requisites__inner">
        <div class="requisites__name">ООО «Точка Топлива»</div>
        <div class="requisites__files">
          <a class="link-file-second" href="{{ this.theme.pay|media }}">
            <span class="link-file-second__inner">
              <img src="{{ 'assets/img/icons/pdf-blue.svg'|theme }}" alt="">
              <span class="h2">скачать реквизиты в &nbsp;pdf</span>
            </span>
          </a>
        </div>
        {% partial '_ur-info' %}
      </div>
    </div>
  </section>

</main>
