title = "Оплата"
url = "/payment"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=false %}

<main class="page__main">
  <div class="single">

    <div class="container container--small">

      <div class="side-nav" id="side-nav">
        <div class="side-nav__header">
          <a href="/" class="side-nav__home-link">
        <span class="side-nav__home-link-inner">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10H4.25V19H8.75V14.5H13.25V19H17.75V10H20L11 1L2 10Z" stroke="#00075B"/>
          </svg>
          <span>На главную</span>
        </span>
          </a>
        </div>
        <div class="side-nav__list">
          <a href="/payment" class="side-nav__link is-active">Оплата</a>
          <a href="/delivery" class="side-nav__link">Доставка</a>
          <a href="/return" class="side-nav__link">Возврат</a>
          <a href="{{ this.theme.privacy|media }}" class="side-nav__link" target="_blank">Политика конфиденциальности</a>
          <a href="{{ this.theme.terms|media }}" class="side-nav__link" target="_blank">Пользовательское соглашение</a>
        </div>
      </div>

      <h1 class="single__title h1">Оплата</h1>
      <div class="single__text">
        <p>
          Вы&nbsp;можете оплатить заказ на&nbsp;сайте, или воспользоваться оплатой после заправки.<br />
          <br />
          Если вы&nbsp;хотите приобретать наши товары и&nbsp;услуги как юридическое лицо, или у&nbsp;вас есть другие вопросы, связанные с&nbsp;оплатой, напишите нам на&nbsp;INFO@TOCHKATOPLIVA.RU c&nbsp;темой &laquo;Заказ от&nbsp;юридического лица&raquo;, или позвоните по&nbsp;телефону&nbsp;<a href="tel:{{ this.theme.c_phone ?? '' }}">{{ this.theme.c_phone ?? '' }}</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="single-blue">
    <div class="container">

      <div class="single-blue__inner">

        <section class="pay-methods pay-methods--second">
          <h2 class="pay-methods__title">способ оплаты</h2>
<!--          <p class="pay-methods__text small">-->
<!--            Длительный опыт в работы в нефтехимическом секторе позволил сформировать устойчивые связи и прямые отношения с производителями топлива.-->
<!--          </p>-->
          <div class="pay-methods__list">
            <section class="pay-methods__item">
              <div class="pay-methods__item-icon">
                <img src="{{ 'assets/img/pay-methods/3.svg'|theme }}" alt="" class="pay-methods__item-icon-img">
              </div>
              <h3 class="pay-methods__item-name">Оплата банковской картой на сайте</h3>
              <p class="small">Оплата банковской картой на&nbsp;сайте осуществляется с&nbsp;помощью сервиса Яндекс.Касса<br />
                <br />
                Мы&nbsp;принимаем к&nbsp;оплате популярные банковские карты:<br />

                <svg xml:space="preserve" width="420px" height="200px" style="shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 149461 26442">
                   <defs>
                    <style type="text/css">
                     <![CDATA[
                     .fil6 {fill:#0B0B09}
                     .fil2 {fill:#1A6BC8}
                     .fil0 {fill:#1B6847}
                     .fil4 {fill:#F53B4A}
                     .fil3 {fill:#FF723A}
                     .fil5 {fill:#FFB32B}
                     .fil1 {fill:url(#id0)}
                     ]]>
                    </style>
                     <linearGradient id="id0" gradientUnits="userSpaceOnUse" x1="24690.2" y1="4896.15" x2="34824.2" y2="4896.15">
                     <stop offset="0" style="stop-opacity:1; stop-color:#3EADFF"></stop>
                       <stop offset="1" style="stop-opacity:1; stop-color:#335CDD"></stop>
                    </linearGradient>
                   </defs>
                  <g id="&#x421;&#x43B;&#x43E;&#x439;_x0020_1">
                    <metadata id="CorelCorpID_0Corel-Layer"></metadata>
                    <path id="Combined-Shape" class="fil0" d="M19124 3799c287,-688 909,-1129 1593,-1129l2606 0 0 10684 -3071 0 0 -6313 -219 0 -2161 5184c-288,688 -909,1129 -1593,1129l-2607 0 0 -10684 3071 0 0 6313 220 0 2161 -5184zm-11728 276c213,-832 888,-1405 1656,-1405l3011 0 0 10684 -3016 0 0 -6313 -215 0 -1723 6313 -2154 0 -1724 -6313 -216 0 0 6313 -3015 0 0 -10684 3012 0c767,0 1443,573 1656,1405l1256 4908 215 0 1257 -4908zm17536 3937l9651 0c-462,1296 -1701,2226 -3162,2226l-3363 0 0 3116 -3126 0 0 -5342z"></path>
                    <path class="fil1" d="M24690 2670c415,2533 2389,4452 4765,4452l0 0 5303 0c43,-240 66,-488 66,-743l0 0c0,-2048 -1480,-3709 -3304,-3709l0 0 -6830 0z"></path>
                    <path id="icon_visa" class="fil2" d="M69944 2738l-2231 10682 -2697 0 2231 -10682 2697 0zm14359 10682l-325 -1596 -3461 0 -563 1596 -2831 0 4047 -9899c194,-476 631,-783 1148,-783l2303 0 2178 10682 -2496 0zm-3010 -3651l2238 0 -817 -3880 -1421 3880zm-4031 162c12,-2897 -3805,-3057 -3779,-4351 9,-394 365,-813 1144,-920 386,-53 1452,-94 2660,491l474 -2328c-650,-247 -1484,-486 -2524,-486 -2666,0 -4543,1492 -4558,3629 -18,1581 1339,2462 2362,2987 1050,538 1403,884 1399,1365 -8,737 -838,1062 -1615,1074 -1356,22 -2143,-386 -2770,-694l-488 2406c629,305 1793,570 2999,583 2834,0 4688,-1473 4696,-3756zm-11172 -7193l-4371 10682 -2852 0 -2150 -8525c-131,-525 -244,-718 -641,-939 -649,-360 -1720,-699 -2661,-909l63 -309 4590 0c585,0 1112,398 1244,1088l1137 6182 2807 -7270 2834 0z"></path>
                    <g id="icon_mastercard">
                     <polygon id="Fill-2" class="fil3" points="120564,14275 127776,14275 127776,1708 120564,1708 "></polygon>
                      <path id="Fill-3" class="fil4" d="M121022 7992c0,-2549 1231,-4820 3148,-6284 -1402,-1070 -3170,-1708 -5093,-1708 -4552,0 -8242,3578 -8242,7992 0,4414 3690,7992 8242,7992 1923,0 3691,-638 5093,-1709 -1917,-1464 -3148,-3734 -3148,-6283z"></path>
                      <path id="Fill-4" class="fil5" d="M129264 15980c-1923,0 -3691,-638 -5093,-1708 1917,-1463 3148,-3733 3148,-6282 0,-2549 -1231,-4819 -3148,-6282 1402,-1070 3170,-1708 5093,-1708 4552,0 8242,3577 8242,7990 0,4413 -3690,7990 -8242,7990z"></path>
                    </g>
                    <path class="fil6" d="M148966 25875l0 109 95 0c21,0 39,-5 52,-13 13,-10 19,-24 19,-42 0,-18 -6,-31 -19,-41 -13,-8 -31,-13 -52,-13l-95 0zm96 -76c50,0 88,12 115,34 27,24 40,56 40,96 0,33 -10,61 -32,84 -21,21 -52,34 -91,39l126 153 -99 0 -117 -152 -38 0 0 152 -83 0 0 -406 179 0zm-25 546c45,0 87,-8 126,-27 39,-17 72,-42 102,-73 29,-31 52,-66 69,-108 17,-42 25,-86 25,-133 0,-47 -8,-91 -25,-133 -17,-42 -40,-78 -69,-108 -30,-32 -63,-55 -102,-73 -39,-17 -81,-26 -126,-26 -46,0 -89,9 -129,26 -40,18 -73,41 -103,73 -29,30 -52,66 -69,108 -16,42 -24,86 -24,133 0,47 8,91 24,133 17,42 40,77 69,108 30,31 63,56 103,73 40,19 83,27 129,27zm0 -779c59,0 114,11 166,35 51,22 96,53 134,93 38,39 69,87 92,139 21,54 32,111 32,171 0,60 -11,117 -32,170 -23,53 -54,99 -92,139 -38,39 -83,70 -134,94 -52,24 -107,35 -166,35 -60,0 -116,-11 -169,-35 -52,-24 -96,-55 -134,-94 -39,-40 -68,-86 -91,-139 -21,-53 -32,-110 -32,-170 0,-60 11,-117 32,-171 23,-52 52,-100 91,-139 38,-40 82,-71 134,-93 53,-24 109,-35 169,-35zm-39147 -1564c0,-774 482,-1410 1272,-1410 755,0 1264,608 1264,1410 0,802 -509,1410 -1264,1410 -790,0 -1272,-636 -1272,-1410zm3396 0l0 -2202 -912 0 0 535c-290,-397 -729,-646 -1326,-646 -1177,0 -2098,968 -2098,2313 0,1346 921,2313 2098,2313 597,0 1036,-249 1326,-645l0 534 912 0 0 -2202zm30832 0c0,-774 483,-1410 1273,-1410 754,0 1264,608 1264,1410 0,802 -510,1410 -1264,1410 -790,0 -1273,-636 -1273,-1410zm3397 0l0 -3972 -913 0 0 2305c-289,-397 -728,-646 -1325,-646 -1177,0 -2098,968 -2098,2313 0,1346 921,2313 2098,2313 597,0 1036,-249 1325,-645l0 534 913 0 0 -2202zm-22904 -1456c589,0 966,387 1063,1069l-2177 0c96,-636 465,-1069 1114,-1069zm17 -857c-1228,0 -2089,940 -2089,2313 0,1400 896,2313 2152,2313 631,0 1210,-166 1720,-618l-447 -709c-352,295 -799,460 -1221,460 -588,0 -1124,-285 -1255,-1077l3116 0c9,-120 18,-241 18,-369 -9,-1373 -817,-2313 -1994,-2313zm11018 2313c0,-774 483,-1410 1274,-1410 755,0 1263,608 1263,1410 0,802 -508,1410 -1263,1410 -791,0 -1274,-636 -1274,-1410zm3397 0l0 -2202 -913 0 0 535c-289,-397 -728,-646 -1325,-646 -1176,0 -2098,968 -2098,2313 0,1346 922,2313 2098,2313 597,0 1036,-249 1325,-645l0 534 913 0 0 -2202zm-8550 0c0,1336 887,2313 2239,2313 632,0 1053,-147 1510,-526l-439 -774c-342,259 -703,397 -1097,397 -730,-10 -1265,-562 -1265,-1410 0,-847 535,-1400 1265,-1410 394,0 755,138 1097,397l439 -774c-457,-378 -878,-526 -1510,-526 -1352,0 -2239,977 -2239,2313zm11763 -2313c-526,0 -868,259 -1105,646l0 -535 -904 0 0 4404 912 0 0 -2469c0,-728 299,-1133 896,-1133 184,0 377,27 571,110l280 -903c-201,-82 -465,-120 -650,-120zm-24457 461c-439,-304 -1044,-461 -1712,-461 -1062,0 -1746,535 -1746,1410 0,719 508,1161 1447,1300l432 64c499,74 736,212 736,460 0,341 -333,535 -956,535 -633,0 -1089,-212 -1397,-461l-430 747c501,387 1133,571 1817,571 1212,0 1915,-598 1915,-1437 0,-774 -554,-1180 -1467,-1318l-430 -65c-395,-55 -711,-137 -711,-432 0,-323 298,-517 799,-517 536,0 1053,212 1308,378l395 -774zm11773 -461c-527,0 -870,259 -1107,646l0 -535 -904 0 0 4404 913 0 0 -2469c0,-728 299,-1133 896,-1133 183,0 378,27 570,110l282 -903c-203,-82 -466,-120 -650,-120zm-7788 111l-1492 0 0 -1337 -921 0 0 1337 -852 0 0 875 852 0 0 2009c0,1023 376,1631 1457,1631 395,0 851,-129 1141,-341l-263 -820c-273,166 -571,248 -808,248 -457,0 -606,-294 -606,-737l0 -1990 1492 0 0 -875zm-13642 4404l0 -2764c0,-1041 -631,-1741 -1650,-1751 -535,-8 -1089,166 -1475,784 -289,-489 -745,-784 -1387,-784 -447,0 -887,139 -1229,654l0 -543 -913 0 0 4404 922 0 0 -2441c0,-766 404,-1171 1027,-1171 606,0 913,415 913,1161l0 2451 921 0 0 -2441c0,-766 422,-1171 1028,-1171 623,0 922,415 922,1161l0 2451 921 0z"></path>
                   </g>
                  </svg>

                Также доступна оплата через Google Pay и&nbsp;Apple Pay.<br />
                <br />
                После подтверждения выбранного товара откроется защищенное окно со&nbsp;страницей платёжного сервис провайдера, где Вам необходимо ввести данные Вашей банковской карты. Для дополнительной аутентификации держателя карты используется протокол 3D&nbsp;Secure. Если Ваш банк поддерживает данную технологию, Вы&nbsp;будете перенаправлены на&nbsp;его сервер для дополнительной идентификации. Информацию о&nbsp;правилах и&nbsp;методах дополнительной идентификации уточняйте, пожалуйста, в&nbsp;банке, выдавшем Вам банковскую карту.<br />
                <br />
                Все операции с&nbsp;банковскими картами проводятся в&nbsp;соответствии с&nbsp;требованиями VISA International, MasterCard Worldwide, карты МИР защищены технологией MirAccept.<br />
                <br />
                Мы&nbsp;гарантируем безопасность платежей и&nbsp;надежно защищаем данные вашей банковской карты при оплате онлайн. Все конфиденциальные данные передаются в&nbsp;зашифрованном виде с&nbsp;использованием криптографического протокола SSL на&nbsp;сервер. Дальнейшая передача данных с&nbsp;сервера осуществляется по&nbsp;закрытым банковским сетям высшей степени защиты. Обработка конфиденциальных данных клиента производится в&nbsp;процессинговом центре.</p>
            </section>
            <section class="pay-methods__item">
              <div class="pay-methods__item-icon">
                <img src="{{ 'assets/img/pay-methods/2.svg'|theme }}" alt="" class="pay-methods__item-icon-img">
              </div>
              <h3 class="pay-methods__item-name">Оплата банковской картой после заправки</h3>
              <p class="small">Вы&nbsp;можете оплатить заказ банковской картой после заправки, если будете рядом с&nbsp;авто во&nbsp;время заправки. Выбирайте соответствующий способ оплаты при заказе топлива.</p>
            </section>
          </div>
        </section>

      </div>
    </div>
  </div>

  <section class="requisites">
    <div class="container container--small">
      <h2 class="requisites__title h1">реквизиты</h2>
      <div class="requisites__inner">
        <div class="requisites__name">ООО «Точка Топлива»</div>
        <div class="requisites__files">
          <a class="link-file-second" href="{{ this.theme.pay|media }}">
            <span class="link-file-second__inner">
              <img src="{{ 'assets/img/icons/pdf-blue.svg'|theme }}" alt="">
              <span class="h2">скачать реквизиты в &nbsp;pdf</span>
            </span>
          </a>
        </div>
        {% partial '_ur-info' %}
      </div>
    </div>
  </section>

</main>
