title = "Возврат"
url = "/return"
layout = "main"
is_hidden = 0
==
{% partial '_header' home=false %}

<main class="page__main">
  <div class="single">
    <div class="container container--small">

      <div class="side-nav" id="side-nav">
        <div class="side-nav__header">
          <a href="/" class="side-nav__home-link">
        <span class="side-nav__home-link-inner">
          <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2 10H4.25V19H8.75V14.5H13.25V19H17.75V10H20L11 1L2 10Z" stroke="#00075B"/>
          </svg>
          <span>На главную</span>
        </span>
          </a>
        </div>
        <div class="side-nav__list">
          <a href="/payment" class="side-nav__link">Оплата</a>
          <a href="/delivery" class="side-nav__link">Доставка</a>
          <a href="/return" class="side-nav__link is-active">Возврат</a>
          <a href="{{ this.theme.privacy|media }}" class="side-nav__link" target="_blank">Политика конфиденциальности</a>
          <a href="{{ this.theme.terms|media }}" class="side-nav__link" target="_blank">Пользовательское соглашение</a>
        </div>
      </div>

      <h1 class="single__title h1">Возврат</h1>
      <div class="single__text">
        <p>
          Вы можете оформить возврат топлива, если вас не устраивает его качество, или вы заказали топлива больше, чем можете принять.
          <br> <br>
        </p>
      </div>
    </div>
  </div>
  <section class="single-inner">
    <div class="container container--small">
      <h2 class="h2">Вы заказали слишком много топлива</h2>
      <p>Возврат средств за топливо, которое вы не смогли принять, будет осуществлён на карту, с которой был оплачен заказ, в течение 7 (семи) банковских дней.
        Чек возврата будет отправлен вам на email, или его отдаст заправщик.
      </p>

      <h2 class="h2">Вас не устраивает качество топлива</h2>
      <p>Мы внимательно следим за качеством топлива, и уверены в нём. Если вы предполагаете, что использование нашего топлива принесло ущерб вашей технике, пожалуйста, напишите нам на
        <a class="about__contacts-link" href="mailto:{{ this.theme.c_email ?? '' }}">{{ this.theme.c_email ?? '' }}</a> с указанием номера заказа и темой «Претензии по качеству», или позвоните по телефону <a class="about__contacts-link" href="tel:{{ this.theme.c_phone ?? '' }}">{{ this.theme.c_phone ?? '' }}</a>.
      </p>
      <p>Если вы настаиваете на возврате средств, вам потребуется направить нам кассовый чек и заключение экспертизы горючего от аккредитованной лаборатории.
      </p>
      <p>
        Если у вас есть другие вопросы, связанные с возвратом, напишите нам на <a class="about__contacts-link" href="mailto:{{ this.theme.c_email ?? '' }}">{{ this.theme.c_email ?? '' }}</a> с указанием номера заказа, или позвоните по телефону <a class="about__contacts-link" href="tel:{{ this.theme.c_phone ?? '' }}">{{ this.theme.c_phone ?? '' }}</a>.
      </p>
    </div>
  </section>

</main>
