[componentCallMe]

[componentProducts]

[componentDevices]

[componentOrder]
==
<!DOCTYPE html>
<html class="page" lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="{{ 'assets/img/favicon.ico'|theme }}" type="image/x-icon">
  <link rel="icon" type="image/png" href="{{ 'assets/img/favicon.png'|theme}}"/>
  <link rel="stylesheet" href="{{ ['assets/scss/style.css']|theme }}" crossorigin="anonymous">
  <meta name="yandex-verification" content="064558ff9b7f4cae" />
  <meta name="description" content=""/>
  <title>Точка топлива</title>
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no"
  />
  <meta name="theme-color" content="#0b0b0c"/>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">

  {% styles %}
</head>
<body class="page__body">

{% page %}

{% partial '_footer' %}

<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=2fa680cd-ebae-4692-afa4-6a3a883c528e" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="{{ 'assets/js/bundle.js'|theme }}"></script>

{% scripts %}

{% framework extras %}
</body>
</html>